<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
    <link rel="stylesheet" href="../../styles/style-component/style_product/Search_Product.css">
    <link rel="stylesheet" href="../../../resource/fontawesome/css/all.css">
</head>
<body>


<div id="banner">
    <iframe src = "../home/banner.html"></iframe>
</div>
<div id="body" class="row">
    <div id="sidebar">

        <div class="title f18 ">
            <i class="fa-solid fa-filter"></i>
            Bộ lọc
        </div>

        <!---------------------------------------------------------------------------->
        <div class="section_type section_item col">

            <div class="title">Loại Máy Giặc</div>

            <div class="item mid_align">
                <input type="checkbox" id="type1">
                <label for="type1">Máy Giặc Kèm Sấy  </label>
            </div>

            <div class="item">
                <input type="checkbox" id="type2">
                <label for="type2">Máy Giặc Cửa Trên</label>
            </div>

            <div class="item">
                <input type="checkbox" id="type3">
                <label for="type3">Máy Giặc Cửa Trước</label>
            </div>

            <div class="item">
                <input type="checkbox" id="type4">
                <label for="type4">Máy Sấy</label>
            </div>




        </div>

        <div class="rec_horizontal"></div>

        <!-------------------------------------------------------------------------->


        <div class="section_price section_item col">

            <div class="title">Mức giá</div>

            <div class="item mid_align">
                <input type="checkbox" id="price1">
                <label for="price1">Từ 5-10 triệu</label>
            </div>

            <div class="item">
                <input type="checkbox" id="price2">
                <label for="price2">Từ 10-15 triệu</label>
            </div>

            <div class="item">
                <input type="checkbox" id="price3">
                <label for="price3">Từ 15-25 triệu</label>
            </div>

            <div class="item">
                <input type="checkbox" id="price4">
                <label for="price4">Từ 25-40 triệu</label>
            </div>

            <div class="item">
                <input type="checkbox" id="price5">
                <label for="price5">Trên 40 triệu</label>
            </div>


        </div>

        <div class="rec_horizontal"></div>

        <!-------------------------------------------------------------------------->

        <div class="section_capacity section_item col">

            <div class="title">Khối lượng giặc (kg)</div>

            <div class="item mid_align">
                <input type="checkbox" id="capacity1">
                <label for="capacity1">Từ 8-9kg ( 3-5 người )</label>
            </div>

            <div class="item">
                <input type="checkbox" id="capacity2">
                <label for="capacity2">Từ 9-10kg ( 5-7 người )</label>
            </div>

            <div class="item">
                <input type="checkbox" id="capacity3">
                <label for="capacity3">Trên 10kg ( Trên 10 người )</label>
            </div>





        </div>

        <div class="rec_horizontal"></div>













    </div>


    <div id="list_product">


        <div id="top_product" class="col mid_align">
            <span>Top Sản Phẩm Bán Chạy </span>

            <div class="wrap_item row mid_align">
                <iframe src="TopProduct.html" frameborder="0"></iframe>
                <iframe src="TopProduct.html" frameborder="0"></iframe>
                <iframe src="TopProduct.html" frameborder="0"></iframe>
            </div>


        </div>


        <div class="product_item col">
            <span class="mid_align">Sản Phẩm Nổi Bật</span>
            <div class="wrap_item col mid_align f22 ">
                <iframe src="./SearchProductItem.html" frameborder="0"></iframe>
                <iframe src="./SearchProductItem.html" frameborder="0"></iframe>
                <iframe src="./SearchProductItem.html" frameborder="0"></iframe>
                <iframe src="./SearchProductItem.html" frameborder="0"></iframe>
            </div>


        </div>

    </div>


</div>


</body>
<script src="../../styles/style-component/style_product/Search_Product.js"></script>

</html>