<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
    <link rel="stylesheet" href="../../styles/style-component/style_product/Search_Refrigerator.css">
    <link rel="stylesheet" href="../../../resource/fontawesome/css/all.css">
</head>
<body>


<div id="banner">
    <img src="../../../resource/image/mastercard.png" height="180" width="280"/></div>

<div id="body" class="row">
    <div id="sidebar">

        <div class="title f18 ">
            <i class="fa-solid fa-filter"></i>
            Bộ lọc
        </div>

        <!---------------------------------------------------------------------------->
        <div class="section_type section_item col">

            <div class="title">Kiểu Tủ</div>

            <div class="item mid_align">
                <input type="checkbox" id="type1">
                <label for="type1">4 Cửa</label>
            </div>

            <div class="item">
                <input type="checkbox" id="type2">
                <label for="type2">Family Hub</label>
            </div>

            <div class="item">
                <input type="checkbox" id="type3">
                <label for="type3">Side by Side</label>
            </div>

            <div class="item">
                <input type="checkbox" id="type4">
                <label for="type4">2 Cửa - Ngăn đông dưới</label>
            </div>

            <div class="item">
                <input type="checkbox" id="type5">
                <label for="type5">2 Cửa - Ngăn đông trên</label>
            </div>


        </div>

        <div class="rec_horizontal"></div>

        <!-------------------------------------------------------------------------->


        <div class="section_price section_item col">

            <div class="title">Mức giá</div>

            <div class="item mid_align">
                <input type="checkbox" id="price1">
                <label for="price1">Từ 5-8 triệu</label>
            </div>

            <div class="item">
                <input type="checkbox" id="price2">
                <label for="price2">Từ 8-12 triệu</label>
            </div>

            <div class="item">
                <input type="checkbox" id="price3">
                <label for="price3">Từ 12-15 triệu</label>
            </div>

            <div class="item">
                <input type="checkbox" id="price4">
                <label for="price4">Từ 15-20 triệu</label>
            </div>

            <div class="item">
                <input type="checkbox" id="price5">
                <label for="price5">Trên 20 triệu</label>
            </div>


        </div>

        <div class="rec_horizontal"></div>

        <!-------------------------------------------------------------------------->

        <div class="section_capacity section_item col">

            <div class="title">Dung tích</div>

            <div class="item mid_align">
                <input type="checkbox" id="capacity1">
                <label for="capacity1">Dưới 300L</label>
            </div>

            <div class="item">
                <input type="checkbox" id="capacity2">
                <label for="capacity2">Từ 300L đến 400L</label>
            </div>

            <div class="item">
                <input type="checkbox" id="capacity3">
                <label for="capacity3">Từ 400L đến 500L</label>
            </div>


            <div class="item">
                <input type="checkbox" id="capacity4">
                <label for="capacity4">Trên 550L </label>
            </div>


        </div>

        <div class="rec_horizontal"></div>













    </div>


    <div id="list_product">


        <div id="top_product" class="col mid_align">
            <span>Top Sản Phẩm Bán Chạy </span>

            <div class="wrap_item row mid_align">
                <iframe src="TopProduct.html" frameborder="0"></iframe>
                <iframe src="TopProduct.html" frameborder="0"></iframe>
                <iframe src="TopProduct.html" frameborder="0"></iframe>
            </div>


        </div>


        <div class="product_item col">
            <span class="mid_align">Sản Phẩm Nổi Bật</span>
            <div class="wrap_item col mid_align f22 ">
                <iframe src="./SearchProductItem.html" frameborder="0"></iframe>
                <iframe src="./SearchProductItem.html" frameborder="0"></iframe>
                <iframe src="./SearchProductItem.html" frameborder="0"></iframe>
                <iframe src="./SearchProductItem.html" frameborder="0"></iframe>
            </div>


        </div>

    </div>


</div>


</body>
<script src="../../styles/style-component/style_product/Search_Refrigerator.js"></script>
</html>