<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="../../styles/style-component/style_product/SearchProductItem.css">
  <script src="../../styles/style-component/style_product/SearchProductItem.js"></script>
    <link rel="stylesheet" href="../../../resource/fontawesome/css/all.css">
</head>
<body>
<div class="wrap mid_align row">

    <div class="img_section">
        <img src="../../../resource/image/tulanh2.jpg"  alt=""/>
    </div>


    <div class="infor_section">

        <div class="infor_name bold f22 ">
            <span>285 L Tủ Lạnh Ngăn Đông Dưới với Optimal Fresh Zone</span>
        </div>


        <div class="infor_color col">
            <span  class="bold f16">Màu Sắc: <span class="normal f16" > Đen Starry</span></span>

            <div class="choose_color row">
                <div class="col_item" id="pink"></div>
                <div class="col_item" id="gray"></div>
                <div class="col_item" id="yellow"></div>
            </div>


        </div>

        <div class="rating row mid_align">

            <span class="star" >
                <span class="star_empty"></span>
                <span class="star_fill"></span>
            </span>


            <span class="star" >
                <span class="star_empty "></span>
                <span class="star_fill"></span>
            </span>

            <span class="star " >
                <span class="star_empty"></span>
                <span class="star_fill"></span>
            </span>

            <span class="star" >
                <span class="star_empty"></span>
                <span class="star_fill"></span>
            </span>


            <span class="star" >
                <span class="star_empty"></span>
                <span class="star_fill"></span>
            </span>

            <span id="ratting" class="bold" style="padding: 0 5px"> 5 </span>
            <span id="noOfRatting"  class="bold" >(153)</span>

        </div>


        <div id="description">
            <ul class="list_descriptions">
                <li class="desc_item f14" >Ngăn Đông Mềm -1 độ giữ thịt cá tươi ngon</li>
                <li class=" desc_item f14">Làm đá tự động nhanh chóng, tiện lợi</li>
                <li class="desc_item f14">Công nghệ làm lạnh vòm All Around Cooling </li>
            </ul>
        </div>

    </div>



    <div class="rec_vertical"></div>



    <div class="section_right col">
        <div class="price">
            <span class="bold f22">31.190.000 VND</span>
        </div>

        <div class="service">
           <div class="service_item">
               <i class="fa-solid fa-gift"></i>
               <span>Ưu đãi thêm 5% (đến 1TRIỆU đồng)</span>
           </div>

            <div class="service_item">
                <i class="fa-solid fa-truck"></i>
                <span>Miễn Phí Vận Chuyển Toàn Quốc</span>
            </div>

            <div class="service_item">
                <i class="fa-solid fa-box-open"></i>
                <span>Đổi trả trong 14 ngày nếu phát sinh lỗi</span>
            </div>

            <div class="service_item">
                <i class="fa-solid fa-wallet"></i>
                <span>Trả Góp 0% Linh Hoạt Đến 24 Tháng</span>
            </div>

        </div>



        <div class="wrap_btn col">
            <button class="btn buy ">Mua Ngay</button>
            <button class="btn add">Thêm vào giỏ hàng</button>
        </div>

    </div>








</div>

</body>
</html>