<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
    <link rel="stylesheet" href="../../styles/style-component/style_product/Search_Product.css">
    <link rel="stylesheet" href="../../../resource/fontawesome/css/all.css">
</head>
<body>


<div id="banner">
    <iframe src = "../home/banner.html"></iframe>
</div>
<div id="body" class="row">
    <div id="sidebar">

        <div class="title f18 ">
            <i class="fa-solid fa-filter"></i>
            Bộ lọc
        </div>

        <!---------------------------------------------------------------------------->
        <div class="section_type section_item col">

            <div class="title">Loại Điều Hòa</div>

            <div class="item mid_align">
                <input type="checkbox" id="type1">
                <label for="type1">Điều Hòa Treo Tường  </label>
            </div>

            <div class="item">
                <input type="checkbox" id="type2">
                <label for="type2">Điều Hòa Cục Bộ thương mại</label>
            </div>



        </div>

        <div class="rec_horizontal"></div>

        <!-------------------------------------------------------------------------->


        <div class="section_price section_item col">

            <div class="title">Mức giá</div>

            <div class="item mid_align">
                <input type="checkbox" id="price1">
                <label for="price1">Từ 5-10 triệu</label>
            </div>

            <div class="item">
                <input type="checkbox" id="price2">
                <label for="price2">Từ 10-25 triệu</label>
            </div>

            <div class="item">
                <input type="checkbox" id="price3">
                <label for="price3">Từ 25-40 triệu</label>
            </div>

            <div class="item">
                <input type="checkbox" id="price4">
                <label for="price4">Từ 40-50 triệu</label>
            </div>

            <div class="item">
                <input type="checkbox" id="price5">
                <label for="price5">Trên 50 triệu</label>
            </div>


        </div>

        <div class="rec_horizontal"></div>

        <!-------------------------------------------------------------------------->

        <div class="section_capacity section_item col">

            <div class="title">Công Suất</div>

            <div class="item mid_align">
                <input type="checkbox" id="capacity1">
                <label for="capacity1">9.000 Btu/h</label>
            </div>

            <div class="item">
                <input type="checkbox" id="capacity2">
                <label for="capacity2">12.000 Btu/h</label>
            </div>

            <div class="item">
                <input type="checkbox" id="capacity3">
                <label for="capacity3">18.000 Btu/h</label>
            </div>

            <div class="item">
                <input type="checkbox" id="capacity4">
                <label for="capacity4">24.000 Btu/h</label>
            </div>

            <div class="item">
                <input type="checkbox" id="capacity5">
                <label for="capacity5">34.000 Btu/h</label>
            </div>

            <div class="item">
                <input type="checkbox" id="capacity6">
                <label for="capacity6">41.000 Btu/h</label>
            </div>

            <div class="item">
                <input type="checkbox" id="capacity7">
                <label for="capacity7">48.000 Btu/h</label>
            </div>


            <!-------------------------------------------------------------------------->

            <div class="section_capacity section_item col">

                <div class="title">Công Nghệ Lọc Không Khí</div>

                <div class="item mid_align">
                    <input type="checkbox" id="technology1">
                    <label for="technology1">WinFree lạnh tức thì </label>
                </div>


                <div class="item mid_align">
                    <input type="checkbox" id="technology2">
                    <label for="technology2">Bộ lọc bụi mịn PM 2.5</label>
                </div>

                <div class="item mid_align">
                    <input type="checkbox" id="technology3">
                    <label for="technology3">Lưới lọc kháng khuẩn </label>
                </div>

                <div class="item mid_align">
                    <input type="checkbox" id="technology4">
                    <label for="technology4">Digital Inverter Boost</label>
                </div>

                <div class="item mid_align">
                    <input type="checkbox" id="technology5">
                    <label for="technology5">Làm lạnh thông minh AI</label>
                </div>


                <div class="item mid_align">
                    <input type="checkbox" id="technology6">
                    <label for="technology6"> Tự động làm sạch</label>
                </div>






            </div>
















        </div>

        <div class="rec_horizontal"></div>













    </div>


    <div id="list_product">


        <div id="top_product" class="col mid_align">
            <span>Top Sản Phẩm Bán Chạy </span>

            <div class="wrap_item row mid_align">
                <iframe src="TopProduct.html" frameborder="0"></iframe>
                <iframe src="TopProduct.html" frameborder="0"></iframe>
                <iframe src="TopProduct.html" frameborder="0"></iframe>
            </div>


        </div>


        <div class="product_item col">
            <span class="mid_align">Sản Phẩm Nổi Bật</span>
            <div class="wrap_item col mid_align f22 ">
                <iframe src="./SearchProductItem.html" frameborder="0"></iframe>
                <iframe src="./SearchProductItem.html" frameborder="0"></iframe>
                <iframe src="./SearchProductItem.html" frameborder="0"></iframe>
                <iframe src="./SearchProductItem.html" frameborder="0"></iframe>
            </div>


        </div>

    </div>


</div>


</body>
<script src="../../styles/style-component/style_product/Search_Product.js"></script>

</html>