* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #000;
}

/* Phần hiển thị sản phẩm */
.showcase {
    display: flex;
    gap: 10px;
    justify-content: center;
    max-width: 120%;
    margin: auto;
    padding: 20px;
}


.product-large, .all-product-small {
    width: 50%;
}

.all-product-small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.product-large, .product-small {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.product-large:hover, .product-small:hover {
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
}

.img-wrap1 {
    width: 100%;
    height: 100%;
}

.img-wrap1 img {
    width: 100%;
    height: 100%;
}
.img-wrap {
    width: 100%;
    height: 100%;
    background-color: rgba(239, 239, 239, 0.69);
}

.img-wrap img {
    width: 60%;
    height: 60%;
}
.product-name {
    width: 190px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    color: black;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    line-height: 25px;
}

.product-name-large {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

/* Hiển thị nút CTA khi di chuột vào sản phẩm */
.product-large .cta-button{
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 20px); /* Bắt đầu từ dưới */
    background-color: white;
    color: black;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0; /* Bắt đầu ẩn */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Thêm hiệu ứng chuyển động */
}

.product-small .cta-button {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 20px); /* Bắt đầu từ dưới */
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0; /* Bắt đầu ẩn */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Thêm hiệu ứng chuyển động */
}

.product-large:hover .cta-button, .product-small:hover .cta-button {
    display: block;
    transform: translate(-50%, 0); /* Di chuyển lên vị trí trung tâm */
    opacity: 1; /* Hiển thị nút */
}

.cta-button:hover {
    background-color: #005bb5;
}

@media (max-width: 768px) {
    .showcase {
        flex-direction: column;
    }

    .product-large, .all-product-small {
        width: 100%;
    }

    .product-small {
        width: 100%;
    }
}
