<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../styles/style-component/Style-washing-machine/feature-benefit.css">
</head>
<body>
<!-- Feature benefit 1-->
<div class="feature-benefit1">
    <div class="feature-benefit1__img">
        <img src="../../../resource/image/img-washing-machine/feature1.jpg" alt="Carousel Image1" class="imgFeature">
    </div>
    <div class="feature-benefit1__text">
        <h3>Tự động phân bổ nước giặt xả theo độ bẩn</h3>
        <p>Tự động cân chỉnh lượng nước giặt xả chính xác theo khối lượng và độ bẩn áo quần trong suốt quá trình giặt;
            giặt sạch hoàn hảo & hạn chế lãng phí. Đổ 1 lần dùng 1 tháng(1).</p>
    </div>
</div>

<!-- Feature benefit 2-->
<div class="feature-benefit2">
    <div class="feature-benefit2__text">
        <h3>Hệ thống lọc than hoạt tính</h3>
        <p>Than hoạt tính giúp làm sạch không khí bên trong, loại bỏ vi khuẩn gây mùi hôi khó chịu và giữ lại không khí
            trong lành cho thức ăn luôn tươi ngon, trọn vị.</p>
    </div>
    <div class="feature-benefit2__img">
        <img src="../../../resource/image/img-washing-machine/feature2.jpg" alt="Carousel Image 2" class="imgFeature">
    </div>
</div>

<!-- Feature benefit 3-->
<div class="feature-benefit1">
    <div class="feature-benefit1__img">
        <img src="../../../resource/image/img-washing-machine/feature3.jpg" alt="Carousel Image3" class="imgFeature">
    </div>
    <div class="feature-benefit1__text">
        <h3>Bảo vệ áo quần bền lâu</h3>
        <p>Mở rộng không gian lưu trữ tối đa với công nghệ SpaceMax™ tối ưu vật liệu cách nhiệt sử dụng bên trong, mang
            đến lớp vách mỏng hơn thông thường mà vẫn đảm bảo hiệu suất hoạt động tối ưu. Dung tích tăng thêm 20L cho
            bạn thoải mái lưu trữ mọi loại thực phẩm yêu thích.</p>
    </div>
</div>

<!-- Feature benefit 4-->
<div class="feature-benefit2">
    <div class="feature-benefit2__text">
        <h3>Hệ thống lọc than hoạt tính</h3>
        <p>Than hoạt tính giúp làm sạch không khí bên trong, loại bỏ vi khuẩn gây mùi hôi khó chịu và giữ lại không khí
            trong lành cho thức ăn luôn tươi ngon, trọn vị.</p>
    </div>
    <div class="feature-benefit2__img">
        <img src="../../../resource/image/img-washing-machine/feature4.jpg" alt="Carousel Image 4" class="imgFeature">
    </div>
</div>

<!-- Feature benefit 5-->
<div class="feature-benefit1">
    <div class="feature-benefit1__img">
        <img src="../../../resource/image/img-washing-machine/feature5.jpg" alt="Carousel Image5" class="imgFeature">
    </div>
    <div class="feature-benefit1__text">
        <h3>Công nghệ SpaceMax™</h3>
        <p>Mở rộng không gian lưu trữ tối đa với công nghệ SpaceMax™ tối ưu vật liệu cách nhiệt sử dụng bên trong, mang
            đến lớp vách mỏng hơn thông thường mà vẫn đảm bảo hiệu suất hoạt động tối ưu. Dung tích tăng thêm 20L cho
            bạn thoải mái lưu trữ mọi loại thực phẩm yêu thích.</p>
        <p class="note">*Dựa trên RT50K6351BS và có thể thay đổi tuỳ theo mỗi dòng sản phẩm.</p>
    </div>
</div>

</body>
</html>