<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../styles/style-component/Style-washing-machine/feature-benefit.css">
</head>
<body>
<!-- Feature benefit 1-->
<div class="feature-benefit1">
    <div class="feature-benefit1__img">
        <img src="../../../resource/image/img-washing-machine/feature1.jpg" alt="Carousel Image1" class="imgFeature">
    </div>
    <div class="feature-benefit1__text">
        <h3>Tự động phân bổ nước giặt xả theo độ bẩn</h3>
        <p>Tự động cân chỉnh lượng nước giặt xả chính xác theo khối lượng và độ bẩn áo quần trong suốt quá trình giặt;
            giặt sạch hoàn hảo & hạn chế lãng phí. Đổ 1 lần dùng 1 tháng<sup>(1)</sup>.</p>
        <a href="#" class="button">Xem sản phẩm</a>
    </div>
</div>

<!-- Feature benefit 2-->
<div class="feature-benefit2">
    <div class="feature-benefit2__text">
        <h3>Bảo vệ áo quần bền lâu</h3>
        <p>Cảm biến chất liệu sợi vải, tự động tối ưu ưu quy trình giặt & tốc độ quay vắt, giúp giặt sạch sâu và bảo vệ
            sợi vải tốt hơn 45%<sup>(2)</sup>. Áo quần bền lâu góp phần giảm rác thải thời trang.</p>
        <a href="#" class="button">Xem sản phẩm</a>
    </div>
    <div class="feature-benefit2__img">
        <img src="../../../resource/image/img-washing-machine/feature2.jpg" alt="Carousel Image 2" class="imgFeature">
    </div>
</div>

<!-- Feature benefit 3-->
<div class="feature-benefit1">
    <div class="feature-benefit1__img">
        <img src="../../../resource/image/img-washing-machine/feature3.jpg" alt="Carousel Image3" class="imgFeature">
    </div>
    <div class="feature-benefit1__text">
        <h3>Tiết kiệm 70% điện năng</h3>
        <p>Kích hoạt chế độ AI Energy trên ứng dụng SmartThings giúp giảm đến 70%<sup>(3)</sup> điện năng tiêu thụ. Ngoài ra bạn có
            thể chủ động theo dõi mức năng lượng sử dụng và ước tính hóa đơn điện hàng tháng.</p>
        <a href="#" class="button">Xem sản phẩm</a>
    </div>
</div>

<!-- Feature benefit 4-->
<div class="feature-benefit2">
    <div class="feature-benefit2__text">
        <h3>Giảm 54% hạt vi nhựa</h3>
        <p>Giúp bảo vệ môi trường nhờ ngăn chặn hạt vi nhựa từ quần áo thải ra đại dương. Bằng cách tối ưu hóa tốc độ
            quay của động cơ và cường độ giặt, chu trình Less Microfiber giúp giảm đến 54%<sup>(4)</sup>lượng vi hạt nhựa thải ra
            trong quá trình giặt.</p>
        <a href="#" class="button">Xem sản phẩm</a>
    </div>
    <div class="feature-benefit2__img">
        <img src="../../../resource/image/img-washing-machine/feature4.jpg" alt="Carousel Image 4" class="imgFeature">
    </div>
</div>

<!-- Feature benefit 5-->
<div class="feature-benefit1">
    <div class="feature-benefit1__img">
        <img src="../../../resource/image/img-washing-machine/feature5.jpg" alt="Carousel Image5" class="imgFeature">
    </div>
    <div class="feature-benefit1__text">
        <h3>Bảo hành 20 năm động cơ</h3>
        <p>Động cơ Digital Inverter được bảo hành 20 năm<sup>(5)</sup> khẳng định cam kết chất lượng vượt trội. Động cơ trang bị
            nam châm vĩnh cửu, giảm thiểu ma sát khi vận hành, giúp tiết kiệm điện năng, vận hành êm ái, bền bỉ.</p>
        <p class="note">*Dựa trên RT50K6351BS và có thể thay đổi tuỳ theo mỗi dòng sản phẩm.</p>
        <a href="#" class="button">Xem sản phẩm</a>
    </div>
</div>
<div class="feature-benefit1__text">
    <h3>Các công nghệ nổi bật khác</h3>
</div>
</body>
</html>