<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Showcase2</title>
    <link rel="stylesheet" href="../../styles/style-component/Style-washing-machine/showcase.css">
</head>
<body>
<!-- Phần giới thiệu sản phẩm -->
<div class="showcase">
    <!-- Product Card 1 -->
    <div class="product-large">
        <a href="" aria-label="View more">
            <div class="img-wrap1">
                <img src="../../../resource/image/img-washing-machine/showcase/showcase2/2.1.jpg" alt="2.1">
            </div>
            <div class="cta-button">Xem sản phẩm</div>
        </a>
    </div>

    <!-- Wrap product-small in all-product-small -->
    <div class="all-product-small">
        <!-- Product Card 2 -->
        <div class="product-small">
            <a href="" aria-label="View more">
                <div class="product-name"> Bespoke AI
                    <br> WD14BB944DGMSV
                </div>
                <div class="img-wrap">
                    <img src="../../../resource/image/img-washing-machine/showcase/showcase2/2.2.jpg" alt="2.2">
                </div>
                <div class="cta-button">Xem sản phẩm</div>
            </a>
        </div>
        <!-- Product Card 3 -->
        <div class="product-small">
            <a href="" aria-label="View more">
                <div class="product-name"> Bespoke AI
                    <br> WD12BB944DGHSV
                </div>
                <div class="img-wrap">
                    <img src="../../../resource/image/img-washing-machine/showcase/showcase2/2.3.jpg" alt="2.3">
                </div>
                <div class="cta-button">Xem sản phẩm</div>
            </a>
        </div>
        <!-- Product Card 4 -->
        <div class="product-small">
            <a href="" aria-label="View more">
                <div class="product-name"> Bespoke AI
                    <br> WD21B6400KV/SV
                </div>
                <div class="img-wrap">
                    <img src="../../../resource/image/img-washing-machine/showcase/showcase2/2.4.jpg" alt="2.4">
                </div>
                <div class="cta-button">Xem sản phẩm</div>
            </a>
        </div>
        <!-- Product Card 5 -->
        <div class="product-small">
            <a href="" aria-label="View more">
                <div class="product-name"> Bespoke AI
                    <br> WD11T734DBX/SV
                </div>
                <div class="img-wrap">
                    <img src="../../../resource/image/img-washing-machine/showcase/showcase2/2.5.jpg" alt="2.5">
                </div>
                <div class="cta-button">Xem sản phẩm</div>
            </a>
        </div>
    </div>
</div>

</body>
</html>