<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Showcase3</title>
    <link rel="stylesheet" href="../../styles/style-component/Style-washing-machine/showcase.css">
</head>
<body>
<!-- Phần giới thiệu sản phẩm -->
<div class="showcase">
    <!-- Product Card 1 -->
    <div class="product-large">
        <a href="" aria-label="View more">
            <div class="img-wrap1">
                <img src="../../../resource/image/img-washing-machine/showcase/showcase3/3.1.jpg" alt="3.1">
            </div>
            <div class="cta-button">Xem sản phẩm</div>
        </a>
    </div>

    <!-- Wrap product-small in all-product-small -->
    <div class="all-product-small">
        <!-- Product Card 2 -->
        <div class="product-small">
            <a href="" aria-label="View more">
                <div class="product-name">Bespoke AI Heatpump
                    <br> DV90BB9440GHSV
                </div>
                <div class="img-wrap">
                    <img src="../../../resource/image/img-washing-machine/showcase/showcase3/3.2.jpg" alt="3.2">
                </div>
                <div class="cta-button">Xem sản phẩm</div>
            </a>
        </div>
        <!-- Product Card 3 -->
        <div class="product-small">
            <a href="" aria-label="View more">
                <div class="product-name">Bespoke AI Heatpump
                    <br> DV17B9750CV/SV
                </div>
                <div class="img-wrap">
                    <img src="../../../resource/image/img-washing-machine/showcase/showcase3/3.3.jpg" alt="3.3">
                </div>
                <div class="cta-button">Xem sản phẩm</div>
            </a>
        </div>
        <!-- Product Card 4 -->
        <div class="product-small">
            <a href="" aria-label="View more">
                <div class="product-name">AI Heatpump
                    <br> DV90T7240BH/SV
                </div>
                <div class="img-wrap">
                    <img src="../../../resource/image/img-washing-machine/showcase/showcase3/3.4.jpg" alt="3.4">
                </div>
                <div class="cta-button">Xem sản phẩm</div>
            </a>
        </div>
        <!-- Product Card 5 -->
        <div class="product-small">
            <a href="" aria-label="View more">
                <div class="product-name"> Heatpump
                    <br> DV90TA240AX/SV
                </div>
                <div class="img-wrap">
                    <img src="../../../resource/image/img-washing-machine/showcase/showcase3/3.5.jpg" alt="3.5">
                </div>
                <div class="cta-button">Xem sản phẩm</div>
            </a>
        </div>
    </div>
</div>


</body>
</html>