<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samsung Bespoke AI Washing Machine</title>
    <link rel="stylesheet" href="../../styles/style-component/Style-washing-machine/washing-machine.css">
</head>
<body>

<div class="hero-section">
    <div class="background">
        <img src="../../../resource/image/img-washing-machine/img-washing-machine-header.jpg" alt="Background"
             class="background-image">
    </div>
    <div class="content">
        <div class="right">
            <h1>Một chạm thông minh<br>Tiết kiệm sống xanh</h1>
            <p>Máy giặt thông minh Bespoke AI</p>
        </div>
    </div>
</div>

<div class="description">
    <h2>Một chạm thông minh, tiết kiệm sống xanh</h2>
    <p>
        Thấu hiểu những hành động nhỏ mỗi ngày cũng góp phần đem đến thay đổi to lớn cho môi trường, máy giặt Bespoke AI
        đem đến 5 tiết kiệm xanh chỉ với “1 chạm” mỗi lần giặt; giúp tiết kiệm cho bản thân, cho gia đình và cho cả Trái
        Đất thêm xanh.
    </p>
</div>

</body>
</html>
