<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bespoke AI Washing Machine</title>
    <link rel="stylesheet" href="../../styles/style-component/Style-washing-machine/washing-machine.css">
    <script src="../../styles/style-component/Style-washing-machine/washing-machine.js"></script>
</head>
<body>

<div class="hero-section">
    <div class="background">
        <img src="../../../resource/image/img-washing-machine/img-washing-machine-header.jpg" alt="Background"
             class="background-image">
    </div>
    <div class="content">
        <div class="right">
            <h1>Một chạm thông minh<br>Tiết kiệm sống xanh</h1>
            <p>Máy giặt thông minh Bespoke AI</p>
        </div>
    </div>
</div>

<div class="description">
    <h2>Một chạm thông minh, tiết kiệm sống xanh</h2>
    <p>
        Thấu hiểu những hành động nhỏ mỗi ngày cũng góp phần đem đến thay đổi to lớn cho môi trường, máy giặt Bespoke AI
        đem đến 5 tiết kiệm xanh chỉ với “1 chạm” mỗi lần giặt; giúp tiết kiệm cho bản thân, cho gia đình và cho cả Trái
        Đất thêm xanh.
    </p>
</div>

<div class="summary__list">
    <div class="summary__item">
        <img src="../../../resource/image/img-washing-machine/icon1.jpg" alt="Icon 1" class="summary__icon">
        <p class="summary__text">Tự động phân bổ nước giặt xả theo độ bẩn</p>
    </div>
    <div class="summary__item">
        <img src="../../../resource/image/img-washing-machine/icon2.jpg" alt="Icon 2" class="summary__icon">
        <p class="summary__text">Bảo vệ áo quần bền lâu</p>
    </div>
    <div class="summary__item">
        <img src="../../../resource/image/img-washing-machine/icon3.jpg" alt="Icon 3" class="summary__icon">
        <p class="summary__text">Tiết kiệm 70% điện năng</p>
    </div>
    <div class="summary__item">
        <img src="../../../resource/image/img-washing-machine/icon4.jpg" alt="Icon 4" class="summary__icon">
        <p class="summary__text">Giảm thải hạt vi nhựa</p>
    </div>
    <div class="summary__item">
        <img src="../../../resource/image/img-washing-machine/icon5.jpg" alt="Icon 5" class="summary__icon">
        <p class="summary__text">Bảo hành động cơ Digital Inverter</p>
    </div>
</div>
<div class="st1">
    <img src="../../../resource/image/img-washing-machine/st1.jpg" alt="st1">
</div>

<div class="description">
    <h2>Khám phá lựa chọn dành riêng cho bạn</h2>
    <p>
        Tiết kiệm sống xanh với Samsung Bespoke AI từ ngay hôm nay!
    </p>
</div>

<!--Tab-list-Showcase-->

<div class="tab-container">
    <div class="tabs">
        <div class="tab active" onclick="openTab(0)">Máy giặt </div>
        <div class="tab" onclick="openTab(1)">Máy giặt sấy</div>
        <div class="tab" onclick="openTab(2)">Máy sấy</div>
    </div>

    <div class="tab-content active">
        <iframe src="showcase1.html" class="tab-component"></iframe>
    </div>
    <div class="tab-content">
        <iframe src="showcase2.html" class="tab-component"></iframe>
    </div>
    <div class="tab-content">
        <iframe src="showcase3.html" class="tab-component"></iframe>
    </div>
</div>

<div class="description">
    <h2>Tiết kiệm mỗi ngày, góp Trái Đất thêm xanh</h2>
</div>
<iframe src="feature-benefit.html" class="feature-benefit-iframe"></iframe>
<iframe src="feature-column.html" class="feature-column-iframe"></iframe>
<iframe src="../home/footer.html"></iframe>

</body>
</html>
