body {
    font-family: Helvetica Neue, Helvetica, Arial, serif;
    background: #F1F5F9;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
}


.content{
    width: 100%;
    padding: 30px;
}









.order-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
body > div > div.order-summary-container > div.order-info > table > thead > tr{
    background: #F1F5F9;
}

.order-info{
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}
.order-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.order-progress {
    display: flex;
    top: 10px;
    width: 100%;
    max-width: 800px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #d3d3d3;
    margin-bottom: 5px;
}

.circle.active {
    background-color: #5c67f2;
}

.label {
    font-size: 12px;
    color: #808080;
    text-align: center;
}

.step.completed .label {
    color: #5c67f2;
}

.line {
    flex-grow: 1;
    height: 2px;
    background-color: #d3d3d3;
    margin: 10px 0;
    width: 200px;
    z-index: 1000;
}

.line.active {
    background-color: #5c67f2;
}

h3 {
    margin-bottom: 10px;
}

.step {
    padding: 5px 10px;
    border-radius: 5px;
}

.status-paid {
    background-color: #198754;
    color: white;
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 8px;
    font-size: 12px;
}

.order-summary-container {
    display: flex;
    gap: 20px;
}

.order-info {
    flex: 5;
}

.products-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.products-table th,
.products-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.invoice-btn {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #5c67f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.invoice-btn:hover {
    background-color: #4a53c1;
}

.product-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}

.summary-details {
    flex: 2;
    padding: 0 10px;
    border-radius: 5px;
}
.order{
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.payment{
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

.summary-details h3 {
    margin-bottom: 10px;
}

.summary-details p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.total-amount {
    font-weight: bold;
    font-size: 1.1em;
}
