<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="../../styles/style-component/style-checkout/Checkout.css">
    <link rel="stylesheet" href="../../styles/style-component/sytle-cart/CartItem.css">
</head>
<body>

<div id="header" class="mid_align">
    <span>Thanh toán đơn hàng</span>
</div>

<div id="body" class="mid_align">
    <div class="container row">

        <div class="left-side">
            <div class="list_product">
                <iframe src="../cart/CartItem.html" frameborder="0"></iframe>
                <!--                <iframe src="../cart/CartItem.html" frameborder="0"></iframe>-->
            </div>


            <div class="address">
                <div class="address_title row ">
                    <span class="">Địa Nhận hàng</span>
                    <a href="#" class="change">Thay đổi</a>
                </div>

                <div class="address_body">


                    <div class="item_header row mid_align">
                        <span class="name">Jackei Chan</span>
                        <div class="rec_vertical"></div>
                        <span class="phone">03999989970</span>
                    </div>


                    <div class="address_detail">
                        <span>Số 8, Đường Hàm Nghi Quận 1, TP.HCM </span>
                    </div>


                </div>


            </div>


        </div>


        <div class="right-side col ">
            <div class="bill mid_align col ">
                <div class="discount">
                    <span class="title">Nhập Mã Khuyến Mãi</span>

                    <div class="wrap_input">
                        <input id="voucher" type="text" placeholder="Voucher hoặc gift code ">
                        <label for="voucher"></label>
                        <button type="submit">Áp Dụng</button>
                    </div>

                </div>


                <div class="summary col">
                    <span class="title">Bản Tóm Tắt</span>
                    <div class="price item_price">
                        <span>Tổng giá trước thuế</span>
                        <span class="value">95,775,561 VND</span>
                    </div>

                    <div class="tax item_price">
                        <span>Thuế GTGT</span>
                        <span class="value">9,577,556 VND</span>
                    </div>
                </div>


                <div class="wrap_total">
                    <div class="total">
                        <span>Tổng cộng</span>
                        <span>105,353,117 VND</span>
                    </div>
                    <span class="note">Đẫ bao gồm thuế GTGT</span>
                </div>


                <button type="submit" class="pay">Thanh Toán</button>

                <div class="term_condition">
                <span>Bằng cách gửi đơn đặt hàng,
                    bạn đồng ý với <a href="#">Điều khoản & điều kiện</a> và
                    chúng tôi sẽ sử dụng dữ liệu cá nhân của bạn theo
                    <a href="#">Chính sách quyền riêng tư</a> của chúng tôi.</span>
                </div>


                <div class="ads col">
                    <div class="ads_item">
                        <i class="fa-solid fa-medal"></i>
                        <span>Cam kết giá</span>

                    </div>

                    <div class="ads_item">
                        <i class="fa-solid fa-truck-fast"></i>
                        <span>Giao hàng miễn phí toàn quốc </span>

                    </div>
                    <div class="ads_item">
                        <i class="fa-solid fa-percent"></i>
                        <span>Gói trả góp 0%</span>

                    </div>

                    <div class="ads_item">
                        <i class="fa-solid fa-rotate"></i>
                        <span>Đổi sản phẩm theo chính sách quy định trong vòng 14 ngày</span>

                    </div>

                </div>


            </div>
        </div>
    </div>


</div>

</body>
</html>