
#card {
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: rgb(51, 51, 51);
    box-shadow: 9px 9px 13px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(181, 179, 179, 0);
    display: none;
}


#card_header{
    width: 100%;
    position: relative;
    height: 30%;
}




.infor{

}

.infor .card_infor{
    font-size: 14px;
    font-weight: 500;
    padding : 10px 5px;
}


.infor .card_holder{
    text-align: left;
    padding : 0px 30px;
    font-size: 18px;
    font-weight: 600;

}

.type_card {
    width: 10%;
    height: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}

.type_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}


#card_body{
    height: 50%;
    position: relative;
    border-bottom: 1px solid rgb(193, 193, 193);
}

#card_body .card_date{
    position: absolute;
    right: 5%;
    top: 60%;
    font-weight: 500;

}





#footer{
    height: 20%;
    width: 100%;
}


#footer .edit_card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
}


#footer .edit_card a{
    padding: 5px 15px;
    text-decoration: none;
    color: #3461E9;
}


#footer #default{
    padding: 3px 5px;
    width: 100px;
    color: #ffffff;
    background-color: #92B5CD;
    border-radius: 5px;
    margin-left: 10px;

}




















