* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, serif;
}
html{
    padding: 0 20px;
}

body, html {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}


.mid_align{
    display: flex;
    align-items: center;
    text-align: center;
}



.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}



#header {
    width: 100%;
    min-height: 80px;
    font-size: 22px;
    display: flex;

    border-bottom: 1px solid #cfcfcf;
}

#body {
    width: 70%;
    padding: 30px 0;
}

.title {
    font-size: 24px;
    padding-bottom: 20px;
    text-align: center;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center;
    color: #707070;
    padding-bottom: 20px;
}

.item span {
    flex: 0 0 30%;
    text-align: left;
}

.input {
    flex: 1;
    position: relative;
}

.item input {
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 0 35px 0 10px;
    border-radius: 5px;
}

.item input::placeholder {
    color: #ccc;
}

.item input:focus {
    outline: none;
    border: 1px solid #999;
}

.toggle_pass {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #616060;
    cursor: pointer;
}

.password-requirements {
    width: 100%;
    max-width: 400px;
    color: #707070;
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
    opacity: 0.7;
}

.password-requirements strong {
    font-size: 16px;
    color: #000;
}

.password-requirements p {
    margin: 5px 0;
}

.password-requirements ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 5px;
}

.password-requirements ul li {
    margin-bottom: 5px;
    line-height: 1.5;
}

.save_btn {
    width: 70px;
    height: 40px;
    margin-top: 20px;
    align-self: flex-end;
    border-radius: 5px;
    border: none;
    background-color: #0181FE;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.password-requirements {
    width: 80%;
    color: #707070;
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
}

.password-requirements strong {
    font-size: 16px;
    color: #000;
}

.password-requirements p {
    margin: 5px 0;
}

.password-requirements ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 5px;
}

.password-requirements ul li {
    margin-bottom: 5px;
    line-height: 1.5;
}

.asterisk {
    color: red;
    font-size: 18px;
}
