
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, serif;
}

html{
    padding: 0 20px;
}

/*Reuse*/



.mid_align{
    display: flex;
    align-items: center;
    text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}


.rec_horizontal{
    width: 70%;
    height: 1px;
    background-color: #cfcfcf;
}

i{
    color: #616060;
}




/*Header*/
#header{
    width: 100%;
    min-height: 80px;
    border-bottom: 1px solid #cfcfcf;
}

.title{
    font-size: 22px;
}

.add_btn{
    margin-left: auto;
    border: 1px solid #cfcfcf;
    width: 100px;
    height: 40px;
    justify-content: center;
    background-color: #3665F3;
    border-radius: 20px;
}

.add_btn a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.add_btn i {
    color: white;
}




/*Body*/
#body{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    width: 100%;
    min-height: 200px;
    justify-content:center;
    padding: 30px 0px;
    box-sizing: border-box;

}

#body iframe{
    width: 90%;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    margin: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#body iframe:hover {
    transform: scale(1.03); /* Phóng to iframe khi di chuột vào */
    /*box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5); !* Thay đổi box-shadow khi hover *!*/
}

#add-card-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.add-card-container {
    position: relative;
    width: 100%;
    max-width: 450px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#add-card-iframe {
    width: 100%;
    height: 430px;
    border: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
}

.close-btn:hover {
    color: #007bff;
}