*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, serif;
}
html{
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}


/*Reuse*/
.mid_align{
    display: flex;
    align-items: center;
    text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}


.rec_horizontal{
    width: 70%;
    height: 1px;
    background-color: #cfcfcf;
}

i{
    color: #616060;
}

.f16{
    font-size: 16px;
}

.f22{
    font-size: 22px;
}

/*Header*/
body{
}

#header{
    width: 100%;

}

.header_container{
    width: 100%;
    min-height: 80px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    align-items: flex-start;
    justify-content: center ;
}



.description{
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    padding : 10px 0;
}



/*Body*/
#body, .body_container{
    width: 100%;
    height: 100%;
    min-height: 400px;
    padding: 10px 0px;
}


.info_left   {
    width: 60%;
    height: 100%;
    border-right: 1px solid rgba(128, 128, 128, 0.25);
}

.form_infor {
    width: 100%;
    height: 30%;
}

.form_infor .avatar{
    width: 40%;
    height: 100%;
    border-radius: 100%;
    cursor: pointer;
    padding: 10px ;
    position: relative;
}

.form_infor .avatar img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;

    border: 5px solid rgba(108, 234, 65, 0.44);
}

.form_infor .avatar i{
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 16px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid transparent;
}
.form_infor .avatar i:hover{
    background-color: #e3e3e3;
}



.base_infor{
    padding-left: 15px;
    width: 65%;
    height: 100%;
    min-height: 200px;
    padding-top: 10px;
}

.base_infor .name_title{
    text-align:left;
    padding: 10px 0px;
    color: #797979;
    font-size: 14px;
}

.base_infor>input{
    width:90%;
    height: 40px;
    padding: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    color: #323232;
}

.base_infor input:focus{
    outline: none;

}

.base_infor .gender{
    width: 100%;
    padding-top :20px;
}


.base_infor .gender .gender_radio{
        width: 70%;
        display: flex;
        justify-content: space-evenly;
    }



.personal_infor{
    width: 100%;
    padding-top: 10px;
}

.personal_infor .gender_title, .birth_title{
    text-align: left;
    width: 30%;
    color: #797979;
    font-size: 16px;
    padding: 15px;
}


.personal_infor .birth_form{
    width: 70%;
    justify-content: space-between;
    padding: 0px 25px;
}


.birth_form  select{
    width: 90px;
    height: 30px;
    text-align: center;
}

.birth_form label{
    color: #797979;
    font-size: 14px;
}


.bottom{
    padding: 25px 0;
    justify-content: center;
}

.bottom .save_btn{
    height: 40px;
    width: 150px;
    border: 1px solid rgba(128, 128, 128, 0.25);
    border-radius: 5px;
    background-color: #0181FE;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.bottom .save_btn:hover{
    scale: 1.03;
}




/* Info Right*/


.info_right {
    width: 40%;
    height: 100%;
}

.contact {
    color: #4E4E52;
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    padding: 10px 10px 10px 0px;
    margin-left: 20px;
}

.contact_item{
    width: 100%;
    padding: 10px;
    display: flex;
    margin: 5px 10px;

}

.contact_item i {
    padding-right: 5px;
    font-size: 20px;
}


.contact_item .item_text{
    padding: 0px 10px;
    color:#4E4E52;
}


.contact_item .update_btn{
    margin-left: auto;
    border: 1px solid #0974E5;
    color: #0974E5;
    border-radius: 5px;
    background-color: transparent;
    padding:0px 10px;
    height: 25px;
    cursor: pointer;
    width: 80px;
}


/*Social Link*/
.social{
    padding-top: 20px;
}

.social .update_btn{
    margin-left: auto;
    border: 1px solid #0974E5;
    color: #0974E5;
    border-radius: 5px;
    background-color: transparent;
    padding:0px 10px;
    height: 25px;
    width: 80px;
}
.contact_item img{
    width: 25px;
    height: 25px;
    object-fit: cover;

}