* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, serif;
}

html {
    overflow: hidden;
    width: 100%;
    height: 100%;

}

body{
    height: 100%;
    width: 100%;
}


/*Reuse*/
.mid_align {
    display: flex;
    align-items: center;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}


.rec_horizontal {
    width: 70%;
    height: 1px;
    background-color: #cfcfcf;
}

.rec_vertical {
    height: 80%;
    width: 1px;
    background-color: #5a5a5a;
    margin: 0 10px;
    min-height: 20px;
}


i {
    color: #616060;
}

.f16 {
    font-size: 16px;
}

.f22 {
    font-size: 22px;
}

/**/

body{

}

#container{
    width: 100%;
    height: 100%;

}


.image{
    width: 20%;
    height: 100%;
    padding: 10px;


}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}


.description{
    height: 100%;
    width: 50% ;
    padding: 20px ;
    display: flex;
    text-align: left;
}

.description .title{
    width: 100%;
    display: flex;
    text-align: left;
    font-size: 18px ;
    justify-content: flex-start;

}
.description .color{
    width: 100%;
    display: flex;
    text-align: left;
    font-size: 14px ;
    font-weight: 400;
    padding: 5px 0;
}

.description .status{
    width: 100%;
    display: flex;
    text-align: left;
    font-size: 14px ;
    font-weight: 400;

}
.description .status span{
    padding: 2px 10px;
    border: 1px solid #cfcfcf;
    background-color: #EFF8F1;
    border-radius: 5px;
    color: #007B55;
}

.quantity{
    font-size: 14px;
}


/*Price*/

.section_price{
    height: 100%;
    width: 30%;
    padding: 10px;

}

.section_price .date {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #616060;
    margin-bottom: 10px;
    font-size: 14px;
}


.wrap_price .title{
    margin-top: 10px;
    font-size: 14px;
    color: #666666;
}
.wrap_price .price{
    font-weight: bold;
    font-size: 18px;
    color: #0170F0  ;
}


.btn{

}

.btn_detail, .btn_support{
    width: 100px;
    margin: 5px ;
    height:30px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 14px;
    color: #333333;
}

.btn_detail:hover, .btn_support:hover{
    scale: 1.045;
}