*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, serif;
}
html{
    width: 100%;
    height: auto;
    overflow: visible;
}
body{
    width: 100%;
    height: auto ;
    overflow: visible;

}


/*Reuse*/
.mid_align{
    display: flex;
    align-items: center;
    text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}


.rec_horizontal{
    width: 100%;
    height: 1px;
    background-color: #cfcfcf;
    margin-top: 20px;
}

.rec_vertical{
    height: 75%;
    width: 1px;
    background-color: #cfcfcf;

}





i{
    color: #616060;
}

a{
    text-decoration: none;
    color: #000000;
}


.f12{
    font-size: 12px;
}


.f16{
    font-size: 16px;
}
.f18{
    font-size: 18px;
}

.f22{
    font-size: 22px;

}

.bold{
    font-weight: 500;
}


/*Wrap*/
body{
    display: flex;
    justify-content: center;
    background-color: #F0F4F8;
    padding: 50px 0;
}

.wrap{
    width: 90%;
    height: 100%;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.wrap>.title{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrap .title h2{
    font-weight: 500;
}

.wrap>.title span{
    width: 100%;
    color: #5e5e5e;
    padding:  10px 25px 20px 25px;
    font-size: 14px;
}


.report{
    display: flex;
    justify-content: space-evenly;
    height: 120px;
    border-radius: 10px;

}

.report_item {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 20px;
    border-radius: 10px;
    border: 1px solid #cfcfcf;
    box-shadow:2px 5px 15px 0px #cfcfcf;
    transition: 0.4s;
}

.report_item:hover{
    scale: 1.05;
}

.report_item>.title{
    font-size: 16px;
    color: #555555;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.report_item>.value{
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
    color: #333333;
}
.report_item>.value>i {
    font-size: 18px;
}

.report_item >.title >.status{
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: auto;
}
.increase{
    background-color: #EBF9F6;
    width: 80px;
}
.decrease{
    background-color: #fbeaea;
    width: 80px;
}
 .increase i, .increase span{
    color: #03d12a;
    font-weight: bold;
}



 .decrease i,  .decrease span{
    color: #da0101;
    font-weight: bold;
}


/*Table Product*/
#table_product{
    width: 100%;
    margin-top: 50px;
    overflow: hidden;


}

td{
    align-items: center;
    text-align: center;
}
tr{
    margin-top: 10px;
    border-bottom: 1px solid #cfcfcf;
}

#table{
    width: 100%;
    padding: 0;
    border-collapse: collapse;

}

#table thead {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #dfdfdf;
}
#table thead .product_col {
    width: 350px
}

tbody .product{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product .product_image{
    padding: 10px;
    width: 100px;
    height: 100px;
    object-fit: contain;
}

 .wrap_trend_up>i,.wrap_trend_up>span {
     color: #03d12a;
     font-weight: bold;
}

.wrap_trend_down> i, .wrap_trend_down>span {
    color: #da0101;
    font-weight: bold;
}

