<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Fixed Navbar with Notifications and Connected Accounts</title>
    <link rel="stylesheet" href="../../styles/style-component/account_settings/account_settings.css">
</head>
<body>

<div class="container">
    <!-- Navbar -->
    <div class="navbar">
        <a href="#Password">
            <i class="fas fa-key"></i>
            Password
        </a>
        <a href="#notifications">
            <i class="fas fa-bell"> </i>
            Notifications
        </a>
        <a href="#connected-accounts">
            <i class="fas fa-sitemap"></i>
            Connected Accounts
        </a>
        <a href="#social-accounts">
            <i class="fab fa-instagram"></i>
            Social Accounts
        </a>
    </div>
</div>

</body>
</html>
