<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Account Settings with Notifications and Connected Accounts</title>
    <link rel="stylesheet" href="../../styles/style-component/account_settings/account_settings.css">
    <script src="../../styles/style-component/account_settings/account_settings.js"></script>
</head>
<body>

<div class="container">
    <!-- Navbar -->
    <div class="navbar">
        <a href="#Password">
            <i class="fas fa-key"></i>
            Password
        </a>
        <a href="#notifications">
            <i class="fas fa-bell"></i>
            Notifications
        </a>
        <a href="#connected-accounts">
            <i class="fas fa-sitemap"></i>
            Connected Accounts
        </a>
        <a href="#social-accounts">
            <i class="fab fa-instagram"></i>
            Social Accounts
        </a>
        <a href="#delete-account">
            <i class="fas fa-trash-alt"></i>
            Delete-account
        </a>
    </div>

    <!-- Main Content -->
    <div class="slideshow-container">
        <!-- Password Section -->
        <div class="content password" id="Password">
            <div id="header" class="mid_align">
                <span>Password</span>
            </div>

            <div id="body" class="mid_align col">
                <div class="title mid_align">
                    <span>Change Password</span>
                </div>

                <form class="form" action="">
                    <label class="item">
                        <span>Current Password<span class="asterisk">*</span></span>
                        <div class="input">
                            <input id="current_pass" type="password" required>
                            <i class="toggle_pass fa-regular fa-eye"></i>
                        </div>
                    </label>

                    <label class="item">
                        <span>New Password<span class="asterisk">*</span></span>
                        <div class="input">
                            <input id="new_pass" type="password" required>
                            <i class="toggle_pass fa-regular fa-eye"></i>
                        </div>
                    </label>

                    <label class="item">
                        <span>Confirm Password<span class="asterisk">*</span></span>
                        <div class="input">
                            <input id="confirm_pass" type="password" required>
                            <i class="toggle_pass fa-regular fa-eye"></i>
                        </div>
                    </label>

                    <div class="password-requirements">
                        <strong>Password Requirements:</strong>
                        <p>Ensure the following criteria are met:</p>
                        <ul>
                            <li>At least 8 characters—longer is better</li>
                            <li>At least one lowercase character</li>
                            <li>At least one uppercase character</li>
                            <li>At least one number, symbol, or whitespace</li>
                        </ul>
                    </div>

                    <button class="save_btn" type="submit">Save</button>
                </form>
            </div>
        </div>

        <!-- Notifications Section -->
        <div class="content notifications" id="notifications">
            <div class="card-header">
                <h3>Notifications</h3>
            </div>
            <div class="alert">
                We need permission from your browser to show notifications. <a href="#" class="alert-link">Request
                permission</a>
            </div>

            <form>
                <div class="table-responsive">
                    <table class="table table-thead-bordered table-nowrap table-align-middle">
                        <thead class="thead-light">
                        <tr>
                            <th>Type</th>
                            <th class="text-center">
                                <div class="mb-1">
                                    <img class="avatar avatar-xs"
                                         src="../../../resource/image/icon-user-settings/oc-email-at.svg"
                                         alt="Email Icon">
                                </div>
                                Email
                            </th>
                            <th class="text-center">
                                <div class="mb-1">
                                    <img class="avatar avatar-xs"
                                         src="../../../resource/image/icon-user-settings/oc-globe.svg"
                                         alt="Browser Icon">
                                </div>
                                Browser
                            </th>
                            <th class="text-center">
                                <div class="mb-1">
                                    <img class="avatar avatar-xs"
                                         src="../../../resource/image/icon-user-settings/oc-phone.svg" alt="App Icon">
                                </div>
                                App
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>New for you</td>
                            <td class="text-center"><input type="checkbox"></td>
                            <td class="text-center"><input type="checkbox"></td>
                            <td class="text-center"><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td>Account activity</td>
                            <td class="text-center"><input type="checkbox"></td>
                            <td class="text-center"><input type="checkbox"></td>
                            <td class="text-center"><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td>A new browser used to sign in</td>
                            <td class="text-center"><input type="checkbox" checked></td>
                            <td class="text-center"><input type="checkbox" checked></td>
                            <td class="text-center"><input type="checkbox" checked></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="actions">
                    <label>When should we send you notifications?</label>
                    <select class="form-select">
                        <option>Always</option>
                        <option>Only on weekdays</option>
                    </select>
                    <button class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>

        <!-- Connected Accounts Section -->
        <div class="content connected-accounts" id="connected-accounts">
            <h3>Connected Accounts</h3>
            <div class="account-info">
                <img class="avatar-xs" src="../../../resource/image/icon-user-settings/google-icon.svg" alt="Google Icon">
                <div class="account-details">
                    <h4>Google</h4>
                    <p>Calendar and contacts</p>
                </div>
                <label class="toggle-switch">
                    <input type="checkbox">
                    <span></span>
                </label>
            </div>

            <div class="account-info">
                <img class="avatar-xs" src="../../../resource/image/icon-user-settings/spec-icon.svg" alt="Spec Icon">
                <div class="account-details">
                    <h4>Spec</h4>
                    <p>Project management</p>
                </div>
                <label class="toggle-switch">
                    <input type="checkbox">
                    <span></span>
                </label>
            </div>

            <div class="account-info">
                <img class="avatar-xs" src="../../../resource/image/icon-user-settings/slack-icon.svg" alt="Slack Icon">
                <div class="account-details">
                    <h4>Slack</h4>
                    <p>Communication</p>
                </div>
                <label class="toggle-switch">
                    <input type="checkbox">
                    <span></span>
                </label>
            </div>

            <div class="account-info">
                <img class="avatar-xs" src="../../../resource/image/icon-user-settings/mailchimp-icon.svg" alt="Mailchimp Icon">
                <div class="account-details">
                    <h4>Mailchimp</h4>
                    <p>Email marketing service</p>
                </div>
                <label class="toggle-switch">
                    <input type="checkbox">
                    <span></span>
                </label>
            </div>

        </div>
        <!-- Social Accounts Section -->
        <div class="content social-accounts" id="social-accounts">
            <h3>Social Accounts</h3>
            <p>Integrated features from these accounts make it easier to connect with friends and share updates.</p>

            <div class="account-info">
                <div class="account-details">
                    <i class="fab fa-twitter account-icon"></i>
                    <div>
                        <strong>Twitter</strong>
                        <p>Not connected</p>
                    </div>
                </div>
                <button class="btn btn-connect">Connect</button>
            </div>

            <div class="account-info">
                <div class="account-details">
                    <i class="fab fa-facebook account-icon"></i>
                    <div>
                        <strong>Facebook</strong>
                        <p>Not connected</p>
                    </div>
                </div>
                <button class="btn btn-connect">Connect</button>
            </div>

            <div class="account-info">
                <div class="account-details">
                    <i class="fab fa-slack account-icon"></i>
                    <div>
                        <strong>Slack</strong>
                        <p>Not connected</p>
                    </div>
                </div>
                <button class="btn btn-connect">Connect</button>
            </div>

            <div class="account-info">
                <div class="account-details">
                    <i class="fab fa-linkedin account-icon"></i>
                    <div>
                        <strong>LinkedIn</strong>
                        <p>Not connected</p>
                    </div>
                </div>
                <button class="btn btn-connect">Connect</button>
            </div>

            <div class="account-info">
                <div class="account-details">
                    <i class="fab fa-google account-icon"></i>
                    <div>
                        <strong>Google</strong>
                        <p>Not connected</p>
                    </div>
                </div>
                <button class="btn btn-connect">Connect</button>
            </div>
        </div>

        <!-- Delete Accounts-->
        <div class="content delete-account" id="delete-account">
            <h3>Delete your account</h3>
            <p>When you delete your account, you lose access to all services, and we permanently delete your personal
                data. You can cancel the deletion for 14 days.</p>

            <div class="delete-confirmation">
                <label>
                    <input type="checkbox">
                    Confirm that I want to delete my account.
                </label>
            </div>

            <div class="delete-actions">
                <button class="btn learn-more">Learn more</button>
                <button class="btn delete">Delete</button>
            </div>
        </div>

    </div>
</div>

</body>
</html>
