<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../styles/style-component/style_top_product/TopProduct.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>
<div id="body">
    <div class="wrap_img">
        <img id="image" src="../../../resource/image/tulanh.jpeg" alt="" height="225" width="225"/>
    </div>

    <div class="infor mid_align col ">
        <div id="name" class="bold f16">
            <a href="#"> Tủ Lạnh 4 Cửa RF48A4000B4 với Twin Cooling Plus™ 488 L</a>
        </div>

        <div id="price" class="bold f18" >
            20.490.000 ₫
        </div>

        <div class="rating row mid_align">

            <span class="star" >
                <span class="star_empty"></span>
                <span class="star_fill"></span>
            </span>


            <span class="star" >
                <span class="star_empty "></span>
                <span class="star_fill"></span>
            </span>

            <span class="star " >
                <span class="star_empty"></span>
                <span class="star_fill"></span>
            </span>

            <span class="star" >
                <span class="star_empty"></span>
                <span class="star_fill"></span>
            </span>


            <span class="star" >
                <span class="star_empty"></span>
                <span class="star_fill"></span>
            </span>

            <span id="ratting" class="bold" style="padding: 0 5px"> 5 </span>
            <span id="noOfRatting"  class="bold" >(153)</span>

        </div>


        <div id="description">
            <ul class="list_descriptions">
                <li class="desc_item f12" >Ngăn Đông Mềm -1 độ giữ thịt cá tươi ngon</li>
                <li class=" desc_item f12">Làm đá tự động nhanh chóng, tiện lợi</li>
                <li class="desc_item f12">Công nghệ làm lạnh vòm All Around Cooling </li>
            </ul>
        </div>

    </div>


    <div class="operation col">
        <button id="buy_now"><a href="#">Mua ngay</a></button>
        <button id="add_to_cart"> Thêm vào giỏ hàng</button>
    </div>



</div>
<script src="../../styles/style-component/style_top_product/TopProduct.js"></script>


</body>
</html>