*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, serif;
}

html{
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

/*Reuse*/
.mid_align{
    display: flex;
    align-items: center;
    text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}

.rec_horizontal{
    width: 70%;
    height: 1px;
    background-color: #cfcfcf;
}

.rec_vertical{
    height: 70%;
    width: 1px;
    background-color: #cfcfcf;
    margin:  0 10px;
    min-height: 20px;
}

i{
    color: #616060;
}

.f16{
    font-size: 16px;
}

.f22{
    font-size: 22px;
}

/*Header*/
#header{
    width: 100%;
    min-height: 80px;
    border-bottom: 1px solid #cfcfcf;
    justify-content: space-between;
}

#header .title{
    font-size: 22px;
}

.add_btn{
    margin-left: auto;
    border: 1px solid #cfcfcf;
    width: 100px;
    height: 40px;
    justify-content: center;
    background-color: #3665F3;
    border-radius: 20px;
}

.add_btn a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.add_btn i {
    color: white;
}

/*Body*/
.body{
    width: 100%;
    height: 100%;
}

.address_item{
    width: 100%;
    border-bottom: 1px solid #CFCFCF;
    padding: 25px 0px;
}

.icon{
    width: 80px;
    height: 80px;
    font-size: 35px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #cfcfcf;
}

.infor{
    padding-left: 10px;
    width: 75%;
    height: 100%;
}

.item_header{
    width: 100%;
    min-height: 30px;
    height: 100%;
}

.item_header .name{
    font-weight: bold;
    color: rgb(63 59 59);
}

.item_header .phone{
    color: #757575;
}

.item_header .default{
    margin-left: auto;
    background-color: #c1e4ff;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

.item_body{
    padding-left: 10px;
}

.manage{
    width: 25%;
    min-height: 50px;
    justify-content: center;
}

.update_btn, .delete_btn {
    border: none;
    background-color: unset;
    height: 25px;
    width: 60px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.update_btn:hover{
    color: #059af8;
}

.delete_btn {
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    border: 1px solid transparent;
}

.delete_btn:hover {
    background-color: #d32f2f;
}

.set_default_btn {
    border-radius: 5px;
    background-color: unset;
    height: 35px;
    width: 120px;
    margin: 5px;
    border: 1px solid rgba(128, 128, 128, 0.27);
    color: rgba(0, 0, 0, 0.95);
}

.set_default_btn:hover{
    cursor: pointer;
}

.disabled{
    border: 1px solid rgba(128, 128, 128, 0.27);
    color: rgba(135, 135, 135, 0.95);
}

.disabled:hover{
    cursor: default;
}
