<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link rel="stylesheet" href="../../styles/style-component/style_product/Product-detail.css">
</head>
<body>

<div class="container">
    <div class="section">
        <iframe src="Product-detail-item.html" frameborder="0" class="iframe"></iframe>
    </div>
    <div class="section">
        <iframe src="Product-buying-tool.html" frameborder="0" class="iframe"></iframe>
    </div>
    <
</div>

</body>
</html>
