<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Feature</title>
  <link rel="stylesheet" href="../../styles/style-component/product-detail/Product-Feature.css">
</head>
<body>

<!-- Feature benefit -->
<div class="feature-benefit">
  <div class="feature-benefit__text">
    <h2>+20L dung tích với cùng kích thước</h2>
    <h3>Công nghệ SpaceMax™</h3>
    <p>Mở rộng không gian lưu trữ tối đa với công nghệ SpaceMax™ tối ưu vật liệu cách nhiệt sử dụng bên trong, mang đến lớp vách mỏng hơn thông thường mà vẫn đảm bảo hiệu suất hoạt động tối ưu. Dung tích tăng thêm 20L cho bạn thoải mái lưu trữ mọi loại thực phẩm yêu thích.</p>
    <p class="note">*Dựa trên RT50K6351BS và có thể thay đổi tuỳ theo mỗi dòng sản phẩm.</p>
  </div>
  <div class="feature-benefit__img">
    <video autoplay muted loop playsinline preload="auto">
      <source src="//images.samsung.com/is/content/samsung/assets/vn/refrigerators/top-mount-freezer/optimal-fresh-plus/20231013/Che-do-lam-lanh_720x720.mp4"
              type="video/mp4">
    </video>
  </div>
</div>

</body>
</html>
