<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../styles/style-component/style-user_profile/Address.css">
    <link rel="stylesheet" href="../../../resource/fontawesome/css/all.css">
</head>


<body>

<div id="header" class="row mid_align">
    <span class="title">Địa Chỉ</span>
    <div class="add_btn mid_align">
        <i class="fa-solid fa-plus"></i>
        <a href="#">Thêm </a>
    </div>
</div>

<div class="body">

    <div class="address_item row">

        <div class="icon mid_align">
            <i class="fa-solid fa-house"></i>
        </div>


        <div class="infor">
            <div class="item_header row mid_align">
                <span class="name">Jackei Chan</span>
                <div class="rec_vertical"></div>
                <span class="phone">03999989970</span>

                <div class="default">Mặc định</div>

            </div>


            <div class="item_body">
                <div class="address_detail">
                    <span>Số 8, Đường Hàm Nghi </span>
                </div>

                <div class="location">
                    <span>Quận 1, TP.HCM </span>
                </div>

            </div>
        </div>

        <div class="manage mid_align col">
            <button class="update_btn">
                Thay đổi
            </button >
            <button disabled class="set_default_btn disabled">
                Đặt làm mặc định
            </button>
            <button class="delete_btn">Xóa</button>
        </div>


    </div>




    <div class="address_item row">

        <div class="icon mid_align">
            <i class="fa-regular fa-building"></i>
        </div>


        <div class="infor">
            <div class="item_header row mid_align">
                <span class="name">Jackei Chan</span>
                <div class="rec_vertical"></div>
                <span class="phone">03999989970</span>


            </div>


            <div class="item_body">
                <div class="address_detail">
                    <span>Số 8, Đường Hàm Nghi </span>
                </div>

                <div class="location">
                    <span>Quận 1, TP.HCM </span>
                </div>

            </div>
        </div>

        <div class="manage mid_align col">
            <button class="update_btn">
                Thay đổi
            </button >
            <button class="set_default_btn">
                Đặt làm mặc định
            </button>
            <button class="delete_btn">Xóa</button>
        </div>




    </div>



    <div class="address_item row">

        <div class="icon mid_align">
            <i class="fa-solid fa-house"></i>
        </div>


        <div class="infor">
            <div class="item_header row mid_align">
                <span class="name">Jackei Chan</span>
                <div class="rec_vertical"></div>
                <span class="phone">03999989970</span>


            </div>


            <div class="item_body">
                <div class="address_detail">
                    <span>Số 8, Đường Hàm Nghi </span>
                </div>

                <div class="location">
                    <span>Quận 1, TP.HCM </span>
                </div>

            </div>
        </div>

        <div class="manage mid_align col">
            <button class="update_btn">
                Thay đổi
            </button >
            <button class="set_default_btn">
                Đặt làm mặc đinh
            </button>
            <button class="delete_btn">Xóa</button>
        </div>



    </div>

</div>
</body>
</html>