<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../styles/style-component/style-user_profile/Address.css">
    <link rel="stylesheet" href="../../../resource/fontawesome/css/all.css">
</head>


<body>
<div id="header" class="row mid_align">
    <span class="title">Address</span>
    <div class="add_btn mid_align">
        <i class="fa-solid fa-plus"></i>
        <a href="#">Add</a>
    </div>
</div>

<div class="body">
    <div class="address_item row">

        <div class="infor">
            <div class="item_header row mid_align">
                <span class="name">Jackei Chan</span>
                <div class="rec_vertical"></div>
                <span class="phone">03999989970</span>

                <div class="default">Default</div>

            </div>


            <div class="item_body">
                <div class="address_detail">
                    <span>1855 Kearny St </span>
                </div>

                <div class="location">
                    <span>San Francisco CA USA </span>
                </div>

            </div>
        </div>

        <div class="manage mid_align col">
            <button class="update_btn">
                Update
            </button >
            <button disabled class="set_default_btn disabled">
                Set as Default
            </button>
        </div>


    </div>




    <div class="address_item row">

        <div class="infor">
            <div class="item_header row mid_align">
                <span class="name">Jackei Chan</span>
                <div class="rec_vertical"></div>
                <span class="phone">03999989970</span>


            </div>


            <div class="item_body">
                <div class="address_detail">
                    <span>1855 Kearny St </span>
                </div>

                <div class="location">
                    <span>San Francisco CA USA </span>
                </div>

            </div>
        </div>

        <div class="manage mid_align col">
            <button class="update_btn">
                Update
            </button >
            <button class="set_default_btn">
                Set as Default
            </button>
        </div>




    </div>



    <div class="address_item row">

        <div class="infor">
            <div class="item_header row mid_align">
                <span class="name">Jackei Chan</span>
                <div class="rec_vertical"></div>
                <span class="phone">03999989970</span>


            </div>


            <div class="item_body">
                <div class="address_detail">
                    <span>1855 Kearny St </span>
                </div>

                <div class="location">
                    <span>San Francisco CA USA </span>
                </div>

            </div>
        </div>

        <div class="manage mid_align col">
            <button class="update_btn">
                Update
            </button >
            <button class="set_default_btn">
                Set as Default
            </button>
        </div>



    </div>

</div>
</body>
</html>