<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../styles/style-component/style-user_profile/CardComponent.css">
</head>
<body>
<div id="card">
    <div class="overlay"></div>
    <div id="header" class="mid_align">

        <div class="infor col" >
           <div class="card_infor">
               <span class="title">Card ending in </span>
               <span class="last4">**** 9999</span>
           </div>
            <span class="card_holder">JACKIE CHAN</span>
        </div>


        <div class="type_card">
            <img src="../../../resource/image/visa.png" alt="">
        </div>


    </div>

    <div id="body">
        <div class="card_date">
            <span> Date: 11/25</span>
        </div>


    </div>


    <div id="footer" class="mid_align">
        <div class="edit_card mid_align">
            <a href="#" class="edit_btn">Edit</a>
            <a href="#" class="delete_btn">Delete</a>

        </div>
    </div>




</div>
</body>
</html>