<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Registration Success</title>
    <link rel="stylesheet" href="../../styles/style-component/style_confirm/confirm.css">
</head>
<body>
<div class="confirmation-container">
    <h1>Xin chúc mừng!</h1>
    <div class="checkmark-circle">
        <span class="sunshine"></span>
        <span class="checkmark">✓</span>
    </div>
    <p>Tài khoản của bạn đã được đăng ký thành công!</p>
    <button id="retryButton">ĐĂNG NHẬP</button>
</div>
</body>
<script src="../../styles/style-component/style_confirm/confirm.js"></script>
</html>
