<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Password</title>
    <link rel="stylesheet" href="../../../resource/fontawesome/css/all.css">
    <link rel="stylesheet" href="../../styles/style-component/style-user_profile/Password.css">
</head>
<body>
<div id="header">
    <span>Manage Password</span>
</div>

<div id="body" class="mid_align col">
    <div class="title">
        <span>Change your password</span>
    </div>

    <form class="form" action="">
        <label class="item">
            <span>Current Password <span class="asterisk">*</span></span>
            <div class="input">
                <input id="current_pass" type="password" required>
                <i class="toggle_pass fa-regular fa-eye"></i>
            </div>
        </label>

        <label class="item">
            <span>New Password <span class="asterisk">*</span></span>
            <div class="input">
                <input id="new_pass" type="password" required>
                <i class="toggle_pass fa-regular fa-eye"></i>
            </div>
        </label>

        <label class="item">
            <span>Confirm Password <span class="asterisk">*</span></span>
            <div class="input">
                <input id="confirm_pass" type="password" required>
                <i class="toggle_pass fa-regular fa-eye"></i>
            </div>
        </label>

        <div class="password-requirements">
            <strong>Password requirements:</strong>
            <p>Ensure that these requirements are met:</p>
            <ul>
                <li>Minimum 8 characters long - the more, the better</li>
                <li>At least one lowercase character</li>
                <li>At least one uppercase character</li>
                <li>At least one number, symbol, or whitespace character</li>
            </ul>
        </div>

        <button class="save_btn" type="submit">Save</button>
    </form>
</div>
<script src="../../styles/style-component/style-user_profile/Password.js"></script>
</body>
</html>
