<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User SideBar</title>
    <link rel="stylesheet" href="../../styles/style-component/style-user_profile/UserSideBar.css">
    <link rel="stylesheet" href="../../../resource/fontawesome/css/all.css">

</head>
<body>
<div id="side_bar" class="container  col">
    <div class=" infor row mid_align  ">
        <div class="profile_avatar">
            <img src="../../../resource/image/medium%20(1).png" height="500" width="500"/>
        </div>
        <div class="name">
            <span>Jackie Chan</span>
        </div>

    </div>

    <div class="rec_horizontal"></div>

    <div class="item edit_profile  col">
        <div class="wrap">
            <div>
                <i class="fa-solid fa-user-large"></i>
                <span>My Account</span>
            </div>
            <i class="fa-solid fa-caret-down"></i>
        </div>

        <div class="menu_sub_item">
            <ul>
                <li class="sub_items " >
                    <i class="fa-solid fa-address-card"></i>
                    <a href="#" class="item_link" data-src="../../component/UserProfileDetail.html">Profile</a>
                </li>

                <li class="sub_items" >
                    <i class="fa-regular fa-credit-card"></i>
                    <a href="#" class="item_link" data-src="../../component/Payment.html">Payment</a>
                </li>

                <li class="sub_items" >
                    <i class="fa-solid fa-location-dot"></i>
                    <a href="#"  class="item_link" data-src="../../component/Address.html" >Address</a>
                </li>

                <li class="sub_items" >
                    <i class="fa-solid fa-key"></i>
                    <a href="#"  class="item_link" data-src="../../component/Password.html">Password</a>
                </li>

                <li class="sub_items" >
                    <i class="fa-regular fa-bell"></i>
                    <a href="#"  class="item_link" >Notification</a>
                </li>
            </ul>
        </div>
    </div>



    <div class="item order">
        <i class="fa-solid fa-cart-shopping"></i>
        <span>Order</span>
    </div>
</div>

<script src="../../styles/style-component/style-user_profile/UserSidebar.js"></script>

</body>
</html>