

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

}

.banner-container {
    position: relative;
    width: 90%;
    max-width: 100vw;
    overflow: hidden;
    color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.banner-slide {
    position: relative;
    display: none;
    flex-direction: column;
    padding: 40px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    transition: opacity 0.5s ease-in-out;
}
#home_banner {
    height: 600px;
}

@media screen and (max-width: 768px) {
    .banner-content {
        max-width: 90%;
        padding: 20px;
        text-align: center;
        margin: 0 auto;
    }

    .banner-content h2 {
        font-size: 1.8rem;
    }

    .banner-content p {
        font-size: 14px;
    }

    .pause-play-btn {
        top: auto;
        bottom: 20px;
        right: 20px;
    }

    .indicator {
        bottom: 70px;
    }
}

.banner-slide.active {
    display: flex;
}

.banner-content {
    max-width: 35%;
    color: #fff;
    padding: 40px;
    margin-top: 30px ;
}

.banner-content h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 15px;
    margin-bottom: 20px;
}

.buy-now-btn {
    padding: 10px 25px;
    font-size: 1rem;
    color: #0d2438;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.buy-now-btn:hover {
    background-color: #ddd;
    transform: scale(1.05);
}


.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: background 0.3s ease, transform 0.3s ease;
    z-index: 2;
}

.nav-btn :hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.5);
}
.prev-btn {
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.next-btn {
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.indicator {
    position: absolute;
    bottom: 175px;
    left: 0;
    right: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    z-index: 1;
    padding: 0;
}

.progress-loader {
    position: relative;
    width: 100px;
    height: 3px;
    background: rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.progress-loader::before,
.progress-loader::after {
    content: '';
    position: absolute;
    top: 0;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
}

.progress-loader::before {
    left: -15px;
    width: 20px;
}

.progress-loader::after {
    right: -15px;
    width: 20px;
}

.progress {
    height: 4px;
    width: 0;
    background: #ffffff;
    border-radius: 2px;
    position: absolute;
    top: -1px;
    animation: loading 5s linear infinite;
}

@keyframes loading {
    0% { width: 0; }
    100% { width: 100%; }
}

.pause-play-btn {
    position: absolute;
    top: 532px;
    right: 500px;
    color: #fff;
    background-color: transparent;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 5px;
    z-index: 3;
    transition: background 0.3s ease;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    z-index: 10;
}

.progress-loader:hover{
    display: block;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    z-index: 1;
    border-radius: 8px;
}

.banner-content {
    position: relative;
    z-index: 2;
}
