<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../styles/style-component/style-user_order/OrderSuccess.css">
    <script src="../../styles/style-component/style-user_order/OrderSuccess.js"></script>
</head>
<body>

<div class="container mid_align  col">
    <div class="title">Đặt hàng thành công</div>
    <div class="image">
        <img alt="" src="../../../resource/image/delivery.jpg" height="7730" width="7730"/>
    </div>


        <button  id="btn" type=submit  data-src="../component/home/homeBody.html" >Tiếp tục mua sắm</button>

</div>

</body>
</html>
