<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../styles/style-component/style-user_order/OrderHistory.css">
    <link rel="stylesheet" href="../../../resource/fontawesome/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../../styles/style-component/style-user_order/OrderHistory.js"></script>

</head>
<body>


<div id="header" class="row mid_align">
    <i class="back_btn fa-solid fa-arrow-left-long"></i>
    <span class="title">Lịch sử đơn hàng</span>
</div>

<div id="body">


    <div id="order_infor" class=" col">
        <div class="wrap row">
            <div class="order_id">Mã đơn hàng: <span>241107KHA2WV23</span></div>
            <div class="order_status mid_align">Đã giao hàng</div>
        </div>
        <!--        <div class="date">22/10/2024</div>-->
    </div>


    <div id="order_item" class=" col">
        <iframe id="iframe" src="OrderItem.html" frameborder="0"></iframe>
    </div>


    <div id="status_detail" class=" row">

        <div class="item_status section1 col">
            <i class="fa-solid fa-box-archive"></i>
            <span>Đặt hàng thành công </span>
            <span class="status_date">19/10/2024</span>
        </div>

        <div class="line"></div>

        <div class="item_status section2 col">
            <i class="fa-solid fa-truck-arrow-right"></i>
            <span>Đã xác nhận đơn</span>
            <span class="status_date">19/10/2024</span>
        </div>


        <div class="line"></div>

        <div class="item_status section3 col">
            <i class="fa-solid fa-truck-fast"></i>
            <span>Đang vận chuyển</span>
            <span class="status_date">20/10/2024</span>
        </div>

        <div class="line"></div>

        <div class="item_status section4 col">
            <i class="fa-solid fa-box-open"></i>
            <span>Đã nhận được hàng</span>
            <span class="status_date">22/10/2024</span>
        </div>
    </div>


    <div id="payment_infor" class="col">

        <div class="title">
            <span>Thông tin thanh toán</span>
        </div>

        <div class="content">


            <div class="content_item">
                <span class="desc">Giá sản phẩm</span>
                <span class="value" >79,000,000 VND</span>
            </div>


            <div class="content_item">
                <span class="desc" >Thuế GTGT</span>
                <span class="value" >7,900,000 VND</span>
            </div>


            <div class="content_item">
                <span class="desc" >Giảm giá</span>
                <span class="value" > 7,900,000 VND</span>
            </div>


            <div class="rec_horizontal"></div>

            <div class="content_item">
                <span class="desc" >Phải thanh toán:</span>
                <span class="value" >79,000,000 VND</span>
            </div>


            <div class="content_item">
                <span class="desc">Đã thanh toán:</span>
                <span class="value" >79,000,000 VND</span>
            </div>


        </div>


    </div>



    <div id="customer" class="col">
        <div class="title">
            <span>Thông tin khách hàng</span>
        </div>

        <div class="content row">

            <div class="section_left col">


                <div class="content_item full_name">
                    <i class="fa-regular fa-user"></i>
                    <span> Trần Quốc Hưng</span>
                </div>

                <div class="content_item phone">
                    <i class="fa-solid fa-phone"></i>
                    <span>0399989970</span>
                </div>

                <div class="content_item mail">
                    <i class="fa-regular fa-envelope"></i>
                    <span>tranquochung0404@gmail.com</span>
                </div>

                <div class="content_item address">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Số 8, Đường Hàm Nghi,Quận 1, TP.HCM</span>
                </div>


            </div>



            <div class="section_right">
                <div class="title">
                    <span>Phương thức thanh toán:</span>
                </div>

                <div class="content col">
                    <span>Visa: ****9999.</span>
                    <span>Thời hạn: 12/25.</span>
                </div>

            </div>


        </div>


    </div>













</div>

</body>
</html>