<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../styles/style-component/style-user_order/UserOrder.css">
    <script src="../../styles/style-component/style-user_order/UserOrder.js"></script>
</head>
<body>

<div id="header" class="mid_align row">
    <div class="no_of_order col mid_align">
        <span class="num">39</span>
        <span>Đơn hàng</span>
    </div>

    <div class="rec_vertical"></div>

    <div class="total mid align col">
        <span class="num">198 Tr</span>
        <span>Tổng tiền tích lũy</span>
    </div>

</div>


<div id="menu" class="mid_align row">
    <div class="menu_item">Tất cả</div>
    <div class="menu_item">Chờ xác nhận</div>
    <div class="menu_item">Đã xác nhận</div>
    <div class="menu_item">Đang vận chuyển</div>
    <div class="menu_item">Đã giao hàng</div>
    <div class="menu_item">Đã hủy</div>
</div>



<div id="body">
    <iframe src="OrderItem.html" frameborder="0"></iframe>
    <iframe src="OrderItem.html" frameborder="0"></iframe>
    <iframe src="OrderItem.html" frameborder="0"></iframe>
    <iframe src="OrderItem.html" frameborder="0"></iframe>
    <iframe src="OrderItem.html" frameborder="0"></iframe>
    <iframe src="OrderItem.html" frameborder="0"></iframe>
    <iframe src="OrderItem.html" frameborder="0"></iframe>
    <iframe src="OrderItem.html" frameborder="0"></iframe>
    <iframe src="OrderItem.html" frameborder="0"></iframe>
    <iframe src="OrderItem.html" frameborder="0"></iframe>
    <iframe src="OrderItem.html" frameborder="0"></iframe>
    <iframe src="OrderItem.html" frameborder="0"></iframe>
    <iframe src="OrderItem.html" frameborder="0"></iframe>
    <iframe src="OrderItem.html" frameborder="0"></iframe>
    <iframe src="OrderItem.html" frameborder="0"></iframe>
</div>



</body>
</html>