<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../styles/style-component/sytle-cart/CartItem.css">
    <link rel="stylesheet" href="../../../resource/fontawesome/css/all.css">
</head>
<body>

<div class="wrap mid_align row">
    <input type="checkbox">
    <div class="image">
        <img src="../../../resource/image/tivi.png"/>
    </div>


    <div class="description mid_align col  ">
        <div class="title ">98 Inch Crystal UHD DU9000 4K Tizen OS Smart TV (2024)</div>

        <div class="color">
            <span class="color_name">Màu Sắc: <span>Đen</span></span>
        </div>

        <div class="status">
            <span>Còn hàng</span>
        </div>

    </div>


    <div class="section_price mid_align col  ">
        <span class="price">79,000,000 VND</span>


        <div class="quantity mid_align row">
            <i class="fa-solid fa-minus"></i>
            <span class="num mid_align">1</span>
            <i class="fa-solid fa-plus"></i>

        </div>


        <i class=" del fa-solid fa-trash-can"></i>
    </div>


</div>

</body>
</html>