<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../styles/style-component/sytle-cart/Cart.css">
    <link rel="stylesheet" href="../../../resource/fontawesome/css/all.css">
</head>
<body>

<div id="body" class="mid_align col">


<!--    <div id="empty_cart" class="mid_align col">-->
<!--        <i class="fa-solid fa-cart-plus"></i>-->
<!--        <h1>Giỏ Hàng Đang Trống</h1>-->
<!--        <span>Đăng nhập vào tài khoản Samsung của bạn để xem các mục đã lưu hoặc tiếp tục mua sắm</span>-->

<!--        <div class="btn row">-->
<!--            <button class="btn_shopping">Tiếp tục mua sắm</button>-->
<!--            <button class="btn_login">Đăng nhập</button>-->
<!--        </div>-->
<!--    </div>-->



    <div class="content row">
        <div class="list_item ">
            <span>Bạn đang có 4 sản phâm trong giỏ hàng</span>
            <iframe src="CartItem.html" frameborder="0"></iframe>
            <iframe src="CartItem.html" frameborder="0"></iframe>
            <iframe src="CartItem.html" frameborder="0"></iframe>
            <iframe src="CartItem.html" frameborder="0"></iframe>
            <iframe src="CartItem.html" frameborder="0"></iframe>
            <iframe src="CartItem.html" frameborder="0"></iframe>
            <iframe src="CartItem.html" frameborder="0"></iframe>
        </div>
        <div class="bill"></div>
    </div>

</div>


</body>
</html>