/* Cài đặt cơ bản */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.section {
    width: 100%;
    height: 100%;
}

.iframe {
    width: 100%;
    height: 100vh; /* Chiều cao bằng chiều cao toàn màn hình */
    border: none; /* Bỏ viền xung quanh iframe */
}
