/* Đặt lại thuộc tính chung */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #000;
}

a {
    text-decoration: none;
}

/* Các phần tử tiêu đề và văn bản */
h1 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

p {
    font-size: 1em;
}

li {
    font-size: 12px;
}

.container-box-model {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Khối văn bản */
.text-section1, .text-section2, .text1 {
    text-align: center;
    background-color: #ffffff;
    padding: 5px 20px;
    margin: auto;
    max-width: 1200px;
}

.text-section3 {
    text-align: center;
    background-color: #ffffff;
    padding: 5px 20px;
    margin: auto;
    max-width: 1200px;
}
.text-section3 img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.text1 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%, -60%);
    color: black;
    padding: 10px;
}

.text1 h1 {
    font-size: 38px;
    margin-bottom: 20px;
}

.text1 p {
    font-size: 18px;

}

.text2 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%, -60%);
    color: white;
    padding: 10px;
}

.text2 h1 {
    font-size: 35px;
    margin-bottom: 13px;
}

.text2 p {
    font-size: 13px;

}

.text3 {
    position: absolute;
    top: 12%;
    left: 10%;
    transform: translate(120%, 0%);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 25px;
}

.text1 img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}


/* Phần hiển thị sản phẩm */
.showcase {
    display: flex;
    gap: 10px;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.product-large, .all-product-small {
    width: 50%;
}

.all-product-small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.product-large, .product-small {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.product-large:hover, .product-small:hover {
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
}

.img-wrap {
    width: 100%;
    height: 100%;
}

.img-wrap img {
    width: 100%;
    height: 100%;
}


.product-name {
    width: 120px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    color: black;
    font-size: 0.7em;
    font-weight: bold;
}

.product-name-large {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

/* Hiển thị nút CTA khi di chuột vào sản phẩm */
.product-large .cta-button{
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 20px); /* Bắt đầu từ dưới */
    background-color: white;
    color: black;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0; /* Bắt đầu ẩn */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Thêm hiệu ứng chuyển động */
}

.product-small .cta-button {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 20px); /* Bắt đầu từ dưới */
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0; /* Bắt đầu ẩn */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Thêm hiệu ứng chuyển động */
}

.product-large:hover .cta-button, .product-small:hover .cta-button {
    display: block;
    transform: translate(-50%, 0); /* Di chuyển lên vị trí trung tâm */
    opacity: 1; /* Hiển thị nút */
}

.cta-button:hover {
    background-color: #005bb5;
}

@media (max-width: 768px) {
    .showcase {
        flex-direction: column;
    }

    .product-large, .all-product-small {
        width: 100%;
    }

    .product-small {
        width: 100%;
    }
}

/* Feature-benefit */
.feature-benefit {
    display: flex;
    align-items: stretch;
    max-width: 1200px;
    margin: auto;
    border-radius: 8px;
}

.feature-benefit__text ul {
    list-style-type: none;
    padding: 0;
    color: #555;
}

.feature-benefit__text li {
    margin: 5px 0;
}

.feature-benefit__text, .feature-benefit__img {
    width: 50%;
}

.feature-benefit__text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-benefit__img video {
    width: 100%;
    border-radius: 8px;
}

/* Feature-item */
.container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    grid-template-areas:
        "item1 item2 item3"
        "item4 item5 item6";
}

.feature-item:nth-child(1) {
    grid-area: item1;
}

.feature-item:nth-child(2) {
    grid-area: item2;
}

.feature-item:nth-child(3) {
    grid-area: item3;
}

.feature-item:nth-child(4) {
    grid-area: item4;
}

.feature-item:nth-child(5) {
    grid-area: item5;
}

.feature-item:nth-child(6) {
    grid-area: item6;
}

.feature-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
}

.feature-item:hover {
    transform: scale(1.05);
}

.feature-item img, .feature-item video {
    width: 100%;
    height: auto;
}

.feature-content {
    padding: 15px;
}

.feature-content h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}

.feature-text {
    margin-top: 5px;
    font-size: 0.8em;
    color: #555;
}

.feature-disclaimer {
    font-size: 0.8em;
    color: #777;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .container1 {
        margin-top: 50px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"
            "item6";
    }
}

footer {
    background-color: #f9f9f9;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    border-top: 1px solid #ddd;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    padding: 10px;
    border-right: 1px solid #ddd;
}

.footer-column:last-child {
    border-right: none;
}

.footer-column h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin: 5px 0;
    color: #666;
    font-size: 14px;
}

.footer-column ul li:hover {
    color: #333;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    padding: 20px;
    font-size: 12px;
    color: #666;
    border-top: 1px solid #ddd;
    max-width: 1200px;
    margin: 0 auto;
    border-top: 1px solid #ddd;
}

.footer-bottom p {
    margin: 5px 0;
}
#banner {
    width: 100%;
    min-height: 620px;
    height: 25%;
    padding: 0;
    background-color: #ffffff;
    z-index: 1;

}

iframe {
    width: 100%;
    height: 600px;
    border: none;
}

.slideshow2 {
    width: 100%;
    height: 680px;
}