<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../resource/fontawesome/css/all.css">
    <link rel="stylesheet" href="../styles/style-component/Password.css">

</head>
<body>
<div id="header">
    <span>Manage Password</span>
</div>

<div id="body" class="mid_align col">
    <div class="title ">
        <span>Change Passowrd</span>
    </div>

    <form class="form mid_align col" action="">


        <label for="email" class="col item">
            <span>Enter your email <span class="asterisk">*</span>  </span>
            <input id="email" type="email" required>
        </label>


        <label for="email" class="col item">
            <span>Current Password <span class="asterisk">*</span>  </span>
            <div class="input">
                <input id="current_pass" type="password" required> </input>
                <i class="toggle_pass fa-regular fa-eye"></i>
            </div>


        </label>

        <label for="email" class="col item">
            <span>New Password <span class="asterisk">*</span>  </span>
            <div class="input">
                <input id="new_pass" type="password" required>
                <i class="toggle_pass fa-regular fa-eye"></i>
            </div>
        </label>


        <label for="email" class="col item">
            <span>Confirm Password <span class="asterisk">*</span>  </span>
            <div class="input">
                <input id="confirm_pass" type="password" required>
                <i class="toggle_pass fa-regular fa-eye"></i>
            </div>
        </label>

        <button class="save_btn" type="submit">Save</button>
    </form>
</div>
<script src="../styles/style-component/Password.js"></script>
</body>
</html>