*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, serif;
}
html{

    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;

}


/*Reuse*/
.mid_align{
    display: flex;
    align-items: center;
    text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}


.rec_horizontal{
    width: 100%;
    height: 1px;
    background-color: #cfcfcf;
    margin-top: 20px;
}

.rec_vertical{
    height: 70%;
    width: 1px;
    background-color: #cfcfcf;
    margin:  0 10px;
    min-height: 20px;
}





i{
    color: #616060;
}

a{
    text-decoration: none;
    color: #000000;
}


.f12{
    font-size: 12px;
}


.f16{
    font-size: 16px;
}
.f18{
    font-size: 18px;
}

.f22{
    font-size: 22px;

}

.bold{
    font-weight: 500;
}



/*Header*/
.wrap{
    height: 100%;
    width: 100%;
}
#header{
    width:100% ;
    height: 70px;
    border-bottom: 1px solid #cfcfcf;
}

#header .logo {
    padding-top: 15px;
    height: 100%;
    width: 200px;
}
#header .logo img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#header .menu{
    height: 100%;
    margin-left: auto;
    font-size: 30px;
}

#header .menu i{
    margin: 0 15px;
    cursor: pointer;
}

#header .menu i:hover{
    color: #3461E9;
}

#header .menu .avatar{
    height: 100%;
    width: 70px;
    border-radius: 50%;
    padding: 10px;
    margin-right: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.avatar img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;


}


/*Body*/
#body {
    width: 100%;
    min-height: 90vh;
}



/*Sidebar*/
#body #sidebar{
    width: 15%;
    padding:10px ;
    /*background-color: #cfcfcf;*/
    border-right: 1px solid #cfcfcf;
}

#sidebar .menu_item{
    height: 40px;
    align-items: center;
    display: flex;
    padding: 0 25px;
    font-size: 14px;
    border-radius: 5px;
    margin: 5px 0;
    transition: 0.4s;

}
#sidebar .menu_item:hover{
    background-color: #e3e3e3;
    scale: 1.01;
}

#sidebar .menu_item:hover a, #sidebar .menu_item:hover i{
    color:#3461E9 ;
}

#sidebar .menu_item a{
    padding-left: 15px;
    color: #122144;
}

#sidebar .menu_item i{
    font-size: 18px;
    width: 20px;
    height: 20px;
    color: #122144;
}

/*Content*/

#content{
    width: 85%;
    height: 100%;
}


#content iframe{
    width: 100%;
    height: 100%;

}


























