* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

/* Utility classes */
.mid_align {
    display: flex;
    align-items: center;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.rec_horizontal {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
    margin-top: 20px;
}

.rec_vertical {
    height: 70%;
    width: 1px;
    background-color: #e0e0e0;
    margin: 0 10px;
    min-height: 20px;
}

i {
    color: #9ca3af; /* Default gray for icons */
}

a {
    text-decoration: none;
    color: #111827; /* Dark text color for links */
}

.bold {
    font-weight: 500;
}

/* Header */
.wrap {
    height: 100%;
    width: 100%;
}

#header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#header .logo {
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
}

#header .logo img {
    object-fit: contain;
    width: 70%;
    height: 80%;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 250px;
}

.search-bar input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #e5e7eb;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 8px 10px;
    border: 1px solid #e5e7eb;
    border-left: none;
    background-color: #f3f4f6;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-bar button i {
    color: #6b7280;
}

#header .menu {
    margin-left: auto;
    font-size: 24px;
    display: flex;
    align-items: center;
}

#header .menu i {
    margin: 0 15px;
    cursor: pointer;
}

#header .menu i:hover {
    color: #3461E9;
}

#header .menu .avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Body and Sidebar */
#body {
    width: 100%;
    min-height: 90vh;
    display: flex;
    background-color: #f9fafb;
}

#sidebar {
    width: 250px;
    background-color: #ffffff; /* Thay màu trắng */
    border-right: 1px solid #e5e7eb;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); /* Hiệu ứng shadow nhẹ */
}

#sidebar ul {
    list-style-type: none;

    margin: 5px;
}

.menu_item {

    align-items: center;
    padding: 12px 20px;
    color: #4b5563;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    border-radius: 5px;
    gap: 15px;
}

/*.menu_item:hover {*/
/*    background-color: #f3f4f6;*/
/*    color: #2563eb;*/
/*}*/

.menu_item .wrap_menu_item{
    display: flex;
}

.menu_item i {
    font-size: 18px;
    margin-right: 20px;
    color: #9ca3af;
    transition: color 0.3s;
    height: 20px;
    width: 20px;
    align-items: center;
    text-align: center;
}



.menu_item:hover i {
    color: #2563eb;
}

.menu_item:hover a {
    color: #2563eb;
}


.menu_item .toggle-arrow {
    font-size: 14px;
    transition: transform 0.3s, color 0.3s;
    color: #9ca3af;
    margin-left: auto;

}

.menu_item.active .toggle-arrow {
    transform: rotate(180deg);
    color: #2563eb;
}


.submenu {
    display: none;
    flex-direction: column;
    padding-left: 35px; /* Đẩy submenu vào trong một chút */
    margin-top: 5px;
}
.menu_item.active .submenu {
    display: flex;
}

.submenu li {
    padding: 10px 3px;
    font-size: 13px;
}
/*#sidebar > ul > li:nth-child(2) > i{*/
/*    margin-right: 24px;*/
/*}*/
/*#sidebar > ul > li:nth-child(3) > i.fa-solid.fa-box{*/
/*    margin-right: 24px;*/
/*}*/
/*#sidebar > ul > li:nth-child(5) > i.fa-solid.fa-users{*/
/*    margin-right: 17px;*/
/*}*/
/*#sidebar > ul > li:nth-child(3) > i.fa-solid.fa-chevron-down.toggle-arrow{*/
/*    margin-left: 46px;*/
/*}*/
/*#sidebar > ul > li:nth-child(4) > i.fa-solid.fa-chevron-down.toggle-arrow{*/
/*    margin-left: 47px;*/
/*}*/
/*#sidebar > ul > li:nth-child(5) > i.fa-solid.fa-chevron-down.toggle-arrow{*/
/*    margin-left: 35px;*/
/*}*/

.submenu a {
    color: #4b5563;
    text-decoration: none;
    font-weight: 400;
}

.submenu a:hover {
    color: #2563eb;
    background-color: #f9fafb;
    border-radius: 3px;
}

.menu_item.active {
    color: #2563eb;
}

.menu_item.active i {
    color: #2563eb;
}
.menu_item.active a {
    color: #2563eb;
}

.submenu a.active {
    color: #2563eb;
    /*background-color: #f3f4f6;*/
    border-radius: 5px;
}


#content {
    flex: 1;
    padding: 10px;
    background-color: white;
}

#content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#content iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#content iframe::-webkit-scrollbar {
    width: 6px;
}

#content iframe::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 10px;
}

#content iframe::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
}

#content iframe::-webkit-scrollbar-track {
    background: #f3f4f6;
    border-radius: 10px;
}
