*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, serif;
}
html{

    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;

}


/*Reuse*/
.mid_align{
    display: flex;
    align-items: center;
    text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}


.rec_horizontal{
    width: 100%;
    height: 1px;
    background-color: #cfcfcf;
    margin-top: 20px;
}

.rec_vertical{
    height: 70%;
    width: 1px;
    background-color: #cfcfcf;
    margin:  0 10px;
    min-height: 20px;
}





i{
    color: #616060;
}

a{
    text-decoration: none;
    color: #000000;
}


.f12{
    font-size: 12px;
}


.f16{
    font-size: 16px;
}
.f18{
    font-size: 18px;
}

.f22{
    font-size: 22px;

}

.bold{
    font-weight: 500;
}



/*Header*/
.wrap{
    height: 100%;
    width: 100%;
}
#header{
    width:100% ;
    height: 70px;
    border-bottom: 1px solid #cfcfcf;
}

#header .logo {
    height: 100%;
    width: 300px;
}
#header .logo img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#header .menu{
    height: 100%;
    margin-left: auto;
    font-size: 30px;
}

#header .menu i{
    margin: 0 15px;
    cursor: pointer;
}

#header .menu i:hover{
    color: #3461E9;
}

#header .menu .avatar{
    height: 100%;
    width: 70px;
    border-radius: 50%;
    padding: 10px;
    margin-right: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.avatar img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;


}