<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../styles/style-component/style-home/banner.css">
</head>
<body>
<button class="pause-play-btn" id="pausePlayBtn">⏸️</button>
<div class="indicator" id="indicator1">
    <div class="progress-loader">
        <div class="progress"></div>
    </div>
    <div class="progress-loader">
        <div class="progress"></div>
    </div>
    <div class="progress-loader">
        <div class="progress"></div>
    </div>
    <div class="progress-loader">
        <div class="progress"></div>
    </div>
</div>
<div class="banner-container">
    <div class="banner-slide active" id="slide-1"
         style="background-image: url('../../../resource/image/1440x640_disclaimer.webp');">
        <div class="banner-content">
            <h2>Tủ lạnh số 1 Thế giới và Việt Nam</h2>
            <p>Chuyên gia tươi ngon - Dẫn đầu thiết kế - Tiên phong AI</p>
            <button class="buy-now-btn">Mua ngay</button>
        </div>
    </div>

    <div class="banner-slide" id="slide-2" style="background-image: url('../../../resource/image/1440x344.webp');">
        <div class="banner-content">
            <h2>Máy giặt thông minh</h2>
            <p>Làm sạch hiệu quả - Công nghệ tiên tiến - Tiết kiệm năng lượng</p>
            <button class="buy-now-btn">Mua ngay</button>
        </div>
    </div>

    <div class="banner-slide" id="slide-3" style="background-image: url('../../../resource/image/1440344.webp');">
        <div class="banner-content">
            <h2>Máy hút bụi công nghệ cao</h2>
            <p>Lực hút mạnh - Hoạt động êm ái - Đa dạng chức năng</p>
            <button class="buy-now-btn">Mua ngay</button>
        </div>
    </div>

    <div class="banner-slide" id="slide-4" style="background-image: url('../../../resource/image/ac_banner-pc.webp');">
        <div class="banner-content">
            <h2>Dụng cụ nhà bếp hiện đại</h2>
            <p>Thiết kế tinh tế - Dễ sử dụng - Đảm bảo sức khỏe</p>
            <button class="buy-now-btn">Mua ngay</button>
        </div>
    </div>

    <button class="nav-btn prev-btn">&lt;</button>
    <button class="nav-btn next-btn">&gt;</button>


</div>
</body>
<script src="../../styles/style-component/style-home/banner.js"></script>
</html>
