<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../../styles/style-component/style-home/footer.css">

</head>
<body>

<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>Sản Phẩm & Dịch Vụ</h3>
            <ul>
                <li>Điện Thoại Thông Minh</li>
                <li>Máy Tính Bảng</li>
                <li>Thiết Bị Âm Thanh</li>
                <li>Thiết Bị Đeo</li>
                <li>Smart Switch</li>
                <li>Phụ Kiện</li>
                <li>TVs</li>
                <li>Lifestyle TVs</li>
                <li>Thiết Bị Nghe Nhìn</li>
                <li>Tủ Lạnh</li>
                <li>Máy Giặt & Máy Sấy</li>
                <li>Giải Pháp Không Khí</li>
                <li>Gia Dụng Nhà Bếp</li>
                <li>Màn Hình</li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Mua Trực Tuyến</h3>
            <ul>
                <li>Ưu Đãi Độc Quyền</li>
                <li>Cửa hàng trực tuyến doanh nghiệp</li>
                <li>Samsung 68</li>
                <li>Cửa Hàng Trải Nghiệm Samsung</li>
                <li>Câu hỏi thường gặp</li>
                <li>Tìm Cửa Hàng</li>
                <li>Điểm tư vấn và nhận hàng trực tiếp</li>
                <li>Samsung Care+</li>
                <li>Samsung Rewards</li>
                <li>Khám Phá</li>
                <li>Điều Khoản & Điều Kiện</li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Chương trình đặc quyền</h3>
            <ul>
                <li>Ưu đãi sinh viên</li>
                <li>Ưu đãi Nhân viên đối tác (EPP)</li>
                <li>Ưu đãi chính phủ</li>
                <li>VIP Mall</li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Bạn Cần Hỗ Trợ?</h3>
            <ul>
                <li>Đặt hẹn lịch sửa chữa</li>
                <li>Tư Vấn Trực Tuyến</li>
                <li>Thư điện tử</li>
                <li>Điện Thoại</li>
                <li>Trung Tâm Bảo Hành</li>
                <li>Ngôn ngữ ký hiệu</li>
                <li>Gửi ý kiến phản hồi</li>
                <li>Gửi thư cho Ban Giám đốc</li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Sự bền vững</h3>
            <ul>
                <li>Môi trường</li>
                <li>Bảo mật & Quyền riêng tư</li>
                <li>Trợ năng</li>
                <li>Đa dạng - Công bằng - Hòa nhập</li>
                <li>Công dân Doanh nghiệp</li>
                <li>Tính bền vững của Doanh nghiệp</li>
            </ul>
            <h3>Giới thiệu về chúng tôi</h3>
            <ul>
                <li>Thông tin về Công ty</li>
                <li>Lĩnh vực kinh doanh</li>
                <li>Nhận diện thương hiệu</li>
                <li>Nghề nghiệp</li>
                <li>Quan hệ với nhà đầu tư</li>
                <li>Newsroom</li>
                <li>Đạo đức</li>
                <li>Samsung Design</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Bản quyền ©1995-2024 Samsung bảo lưu mọi quyền.</p>
        <p>Công ty TNHH Điện Tử Samsung Vina</p>
        <p>Giấy CNĐK: 4110430003290, do UBND TP HCM cấp ngày 28/8/2007</p>
        <p>Địa chỉ: Số 2, đường Hải Triều, Phường Bến Nghé, Quận 1, TP. Hồ Chí Minh</p>
        <p>Điện thoại: +84-2839157310</p>
    </div>
</footer>

</body>
</html>
