<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="../../styles/style-component/style-admin/Dashboard.css">
  <link rel="stylesheet" href="../../../resource/fontawesome/css/all.css">
</head>
<body>

<div class="wrap">

  <div class="title ">
    <h2>Tổng quan tháng 11</h2>
    <span >Here's what's happening with your store today.</span>
  </div>

  <div class="report row mid_align">


    <div class="report_item col">
      <span class="title">Tổng Doanh Thu Hôm Nay</span>
      <span class="value">20,700,000 VND</span>
      <div class="status increase ">
        <i class="fa-solid fa-arrow-trend-up"></i>
        <span>12.2%</span>
      </div>
    </div>

    <div class="rec_vertical"></div>

<!------------------------------------------------------------------------------------------------------>

    <div class="report_item col">
      <span class="title">Tổng Lượt Truy Cập</span>
      <span class="value">320   <i class="fa-regular fa-eye"></i> </span>
      <div class="status decrease ">
        <i class="fa-solid fa-arrow-trend-down"></i>
        <span>8.2%</span>
      </div>
    </div>

    <div class="rec_vertical"></div>

<!-------------------------------------------------------------------------------------------------->




    <div class="report_item col">
      <span class="title">Số Lượng Đơn Hàng</span>
      <span class="value">30 </span>
      <div class="status increase ">
        <i class="fa-solid fa-arrow-trend-up"></i>
        <span>4.5%</span>
      </div>
    </div>
    <div class="rec_vertical"></div>

<!------------------------------------------------------------------------------------------------------------->


    <div class="report_item col">
      <span class="title">Khách Hàng mới</span>
      <span class="value">90  </span>
      <div class="status increase ">
        <i class="fa-solid fa-arrow-trend-up"></i>
        <span>10.0%</span>
      </div>
    </div>

<!------------------------------------------------------------------------------------------------------->
  </div>


</div>

</body>
</html>