<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lý Sản Phẩm</title>
    <link rel="stylesheet" href="../../styles/style-component/style-admin/listProduct.css">
    <script src="../../styles/style-component/style-admin/listProduct.js"></script>
</head>
<body>

<div class="container">
    <div class="toolbar">
        <button class="add-product-btn">+ Thêm Sản Phẩm</button>
        <div class="toolbar-buttons">
            <button class="export-btn">Xuất</button>
        </div>
    </div>

    <div class="row">
        <div class="entries-dropdown">
            <label for="entries">Hiển thị</label>
            <select id="entries" name="entries">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            mục
        </div>
        <label>
            <input type="text" class="search-bar" placeholder="Tìm kiếm">
        </label>
    </div>

    <table class="product-table">
        <thead>
        <tr>
            <th><label>
                <input type="checkbox">
            </label></th>
            <th data-sort="string" onclick="sortTable(1)">
                <div class="header-content">
                    <span class="header-text">Sản Phẩm</span>
                    <span class="sort-arrows">
                        <span class="sort-arrow asc">▲</span>
                        <span class="sort-arrow desc">▼</span>
                    </span>
                </div>
            </th>
            <th data-sort="string" onclick="sortTable(2)">
                <div class="header-content">
                    <span class="header-text">Danh Mục</span>
                    <span class="sort-arrows">
                        <span class="sort-arrow asc">▲</span>
                        <span class="sort-arrow desc">▼</span>
                    </span>
                </div>
            </th>
            <th data-sort="date" onclick="sortTable(3)">
                <div class="header-content">
                    <span class="header-text">Ngày Thêm</span>
                    <span class="sort-arrows">
                        <span class="sort-arrow asc">▲</span>
                        <span class="sort-arrow desc">▼</span>
                    </span>
                </div>
            </th>
            <th data-sort="number" onclick="sortTable(4)">
                <div class="header-content">
                    <span class="header-text">Giá</span>
                    <span class="sort-arrows">
                        <span class="sort-arrow asc">▲</span>
                        <span class="sort-arrow desc">▼</span>
                    </span>
                </div>
            </th>
            <th data-sort="number" onclick="sortTable(5)">
                <div class="header-content">
                    <span class="header-text">Số Lượng</span>
                    <span class="sort-arrows">
                        <span class="sort-arrow asc">▲</span>
                        <span class="sort-arrow desc">▼</span>
                    </span>
                </div>
            </th>
            <th data-sort="string" onclick="sortTable(6)">
                <div class="header-content">
                    <span class="header-text">Trạng Thái</span>
                    <span class="sort-arrows">
                        <span class="sort-arrow asc">▲</span>
                        <span class="sort-arrow desc">▼</span>
                    </span>
                </div>
            </th>
            <th>Thao Tác</th>
        </tr>
        </thead>

        <tbody id="product-table-body">
        <!-- Sản phẩm 1 -->
        <tr>
            <td><label><input type="checkbox" class="checkbox"></label></td>
            <td>
                <div class="product">
                <img src="../../../resource/image/listProduct/1.jpg" alt="Máy Giặt" class="product-img">
                    <p>Máy Giặt</p>
                </div>
            </td>
            <td>Thiết Bị Gia Dụng</td>
            <td>01/8/2023</td>
            <td>6,500,000 VNĐ</td>
            <td>25</td>
            <td><span class="status active">Hoạt Động</span></td>
            <td>
                <div class="action-icons">
                <div class="dropdown">
                    <button onclick="toggleDropdown(this)"> <!-- Nút chính gọi dropdown -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M12 20h9"></path>
                            <path d="M16.5 3.5a2.121 2.121 0 013 3L7 19l-4 1 1-4 12.5-12.5z"></path>
                        </svg>
                        Actions
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M6 9l6 6 6-6"></path>
                        </svg>
                    </button>
                    <div class="dropdown-content"> <!-- Nội dung dropdown -->
                        <span class="icon view-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                        <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                    View
                </span>
                        <span class="icon edit-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M12 20h9"></path>
                        <path d="M16.5 3.5a2.121 2.121 0 013 3L7 19l-4 1 1-4 12.5-12.5z"></path>
                    </svg>
                    Edit
                </span>
                        <span class="icon delete-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <polyline points="3 6 5 6 21 6"></polyline>
                        <path d="M19 6l-1 14a2 2 0 01-2 2H8a2 2 0 01-2-2L5 6m5 0V4a2 2 0 012-2h4a2 2 0 012 2v2"></path>
                    </svg>
                    Delete
                </span>

                    </div>
                </div>
                </div>
            </td>
        </tr>

        <!-- Sản phẩm 2 -->
        <tr>
            <td><label><input type="checkbox" class="checkbox"></label></td>
            <td class="product"><img src="../../../resource/image/listProduct/2.jpg" alt="Tủ Lạnh" class="product-img">
                Tủ Lạnh
            </td>
            <td>Thiết Bị Gia Dụng</td>
            <td>02/8/2023</td>
            <td>10,500,000 VNĐ</td>
            <td>15</td>
            <td><span class="status deactive">Không Hoạt Động</span></td>
            <td class="action-icons">
                <span class="icon view-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"><path
                        d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></span>
                <span class="icon edit-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"><path
                        d="M12 20h9"></path><path
                        d="M16.5 3.5a2.121 2.121 0 013 3L7 19l-4 1 1-4 12.5-12.5z"></path></svg></span>
                <span class="icon delete-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline
                        points="3 6 5 6 21 6"></polyline><path
                        d="M19 6l-1 14a2 2 0 01-2 2H8a2 2 0 01-2-2L5 6m5 0V4a2 2 0 012-2h4a2 2 0 012 2v2"></path></svg></span>
            </td>
        </tr>

        <!-- Sản phẩm 3 -->
        <tr>
            <td><label><input type="checkbox" class="checkbox"></label></td>
            <td class="product"><img src="../../../resource/image/listProduct/3.jpg" alt="Lò Vi Sóng"
                                     class="product-img"> Lò Vi Sóng
            </td>
            <td>Thiết Bị Nhà Bếp</td>
            <td>03/8/2023</td>
            <td>1,500,000 VNĐ</td>
            <td>45</td>
            <td><span class="status active">Hoạt Động</span></td>
            <td class="action-icons">
                <span class="icon view-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"><path
                        d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></span>
                <span class="icon edit-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"><path
                        d="M12 20h9"></path><path
                        d="M16.5 3.5a2.121 2.121 0 013 3L7 19l-4 1 1-4 12.5-12.5z"></path></svg></span>
                <span class="icon delete-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline
                        points="3 6 5 6 21 6"></polyline><path
                        d="M19 6l-1 14a2 2 0 01-2 2H8a2 2 0 01-2-2L5 6m5 0V4a2 2 0 012-2h4a2 2 0 012 2v2"></path></svg></span>
            </td>
        </tr>

        <!-- Sản phẩm 4 -->
        <tr>
            <td><label><input type="checkbox" class="checkbox"></label></td>
            <td class="product"><img src="../../../resource/image/listProduct/4.jpg" alt="Nồi Cơm Điện"
                                     class="product-img"> Nồi Cơm Điện
            </td>
            <td>Thiết Bị Nhà Bếp</td>
            <td>04/8/2023</td>
            <td>800,000 VNĐ</td>
            <td>60</td>
            <td><span class="status deactive">Không Hoạt Động</span></td>
            <td class="action-icons">
                <span class="icon view-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"><path
                        d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></span>
                <span class="icon edit-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"><path
                        d="M12 20h9"></path><path
                        d="M16.5 3.5a2.121 2.121 0 013 3L7 19l-4 1 1-4 12.5-12.5z"></path></svg></span>
                <span class="icon delete-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline
                        points="3 6 5 6 21 6"></polyline><path
                        d="M19 6l-1 14a2 2 0 01-2 2H8a2 2 0 01-2-2L5 6m5 0V4a2 2 0 012-2h4a2 2 0 012 2v2"></path></svg></span>
            </td>
        </tr>

        <!-- Sản phẩm 5 -->
        <tr>
            <td><label><input type="checkbox" class="checkbox"></label></td>
            <td class="product"><img src="../../../resource/image/listProduct/5.jpg" alt="Quạt Điện"
                                     class="product-img"> Quạt Điện
            </td>
            <td>Thiết Bị Gia Dụng</td>
            <td>05/8/2023</td>
            <td>500,000 VNĐ</td>
            <td>70</td>
            <td><span class="status active">Hoạt Động</span></td>
            <td class="action-icons">
                <span class="icon view-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"><path
                        d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></span>
                <span class="icon edit-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"><path
                        d="M12 20h9"></path><path
                        d="M16.5 3.5a2.121 2.121 0 013 3L7 19l-4 1 1-4 12.5-12.5z"></path></svg></span>
                <span class="icon delete-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline
                        points="3 6 5 6 21 6"></polyline><path
                        d="M19 6l-1 14a2 2 0 01-2 2H8a2 2 0 01-2-2L5 6m5 0V4a2 2 0 012-2h4a2 2 0 012 2v2"></path></svg></span>
            </td>
        </tr>
        <!-- Sản phẩm 6 -->
        <tr>
            <td><label>
                <input type="checkbox" class="checkbox">
            </label></td>
            <td class="product"><img src="../../../resource/image/listProduct/6.jpg" alt="Máy Giặt" class="product-img">
                Máy Giặt
            </td>
            <td>Thiết Bị Gia Dụng</td>
            <td>01/8/2023</td>
            <td>6,500,000 VNĐ</td>
            <td>25</td>
            <td><span class="status active">Hoạt Động</span></td>
            <td class="action-icons">
                <span class="icon view-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"><path
                        d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></span>
                <span class="icon edit-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"><path
                        d="M12 20h9"></path><path
                        d="M16.5 3.5a2.121 2.121 0 013 3L7 19l-4 1 1-4 12.5-12.5z"></path></svg></span>
                <span class="icon delete-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline
                        points="3 6 5 6 21 6"></polyline><path
                        d="M19 6l-1 14a2 2 0 01-2 2H8a2 2 0 01-2-2L5 6m5 0V4a2 2 0 012-2h4a2 2 0 012 2v2"></path></svg></span>
            </td>
        </tr>

        <!-- Sản phẩm 7 -->
        <tr>
            <td><label><input type="checkbox" class="checkbox"></label></td>
            <td class="product"><img src="../../../resource/image/listProduct/7.jpg" alt="Tủ Lạnh" class="product-img">
                Tủ Lạnh
            </td>
            <td>Thiết Bị Gia Dụng</td>
            <td>02/8/2023</td>
            <td>10,500,000 VNĐ</td>
            <td>15</td>
            <td><span class="status deactive">Không Hoạt Động</span></td>
            <td class="action-icons">
                <span class="icon view-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"><path
                        d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></span>
                <span class="icon edit-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"><path
                        d="M12 20h9"></path><path
                        d="M16.5 3.5a2.121 2.121 0 013 3L7 19l-4 1 1-4 12.5-12.5z"></path></svg></span>
                <span class="icon delete-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline
                        points="3 6 5 6 21 6"></polyline><path
                        d="M19 6l-1 14a2 2 0 01-2 2H8a2 2 0 01-2-2L5 6m5 0V4a2 2 0 012-2h4a2 2 0 012 2v2"></path></svg></span>
            </td>
        </tr>

        <!-- Sản phẩm 8 -->
        <tr>
            <td><label><input type="checkbox" class="checkbox"></label></td>
            <td class="product"><img src="../../../resource/image/listProduct/8.jpg" alt="Lò Vi Sóng" class="product-img"> Lò Vi Sóng
            </td>
            <td>Thiết Bị Nhà Bếp</td>
            <td>03/8/2023</td>
            <td>1,500,000 VNĐ</td>
            <td>45</td>
            <td><span class="status active">Hoạt Động</span></td>
            <td class="action-icons">
                <span class="icon view-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"><path
                        d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></span>
                <span class="icon edit-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"><path
                        d="M12 20h9"></path><path
                        d="M16.5 3.5a2.121 2.121 0 013 3L7 19l-4 1 1-4 12.5-12.5z"></path></svg></span>
                <span class="icon delete-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline
                        points="3 6 5 6 21 6"></polyline><path
                        d="M19 6l-1 14a2 2 0 01-2 2H8a2 2 0 01-2-2L5 6m5 0V4a2 2 0 012-2h4a2 2 0 012 2v2"></path></svg></span>
            </td>
        </tr>

        <!-- Sản phẩm 9 -->
        <tr>
            <td><label><input type="checkbox" class="checkbox"></label></td>
            <td class="product"><img src="../../../resource/image/listProduct/9.jpg" alt="Nồi Cơm Điện"
                                     class="product-img"> Nồi Cơm Điện
            </td>
            <td>Thiết Bị Nhà Bếp</td>
            <td>04/8/2023</td>
            <td>800,000 VNĐ</td>
            <td>60</td>
            <td><span class="status deactive">Không Hoạt Động</span></td>
            <td class="action-icons">
                <span class="icon view-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"><path
                        d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></span>
                <span class="icon edit-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"><path
                        d="M12 20h9"></path><path
                        d="M16.5 3.5a2.121 2.121 0 013 3L7 19l-4 1 1-4 12.5-12.5z"></path></svg></span>
                <span class="icon delete-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline
                        points="3 6 5 6 21 6"></polyline><path
                        d="M19 6l-1 14a2 2 0 01-2 2H8a2 2 0 01-2-2L5 6m5 0V4a2 2 0 012-2h4a2 2 0 012 2v2"></path></svg></span>
            </td>
        </tr>

        <!-- Sản phẩm 10 -->
        <tr>
            <td><label><input type="checkbox" class="checkbox"></label></td>
            <td class="product"><img src="../../../resource/image/listProduct/10.jpg" alt="Quạt Điện"
                                     class="product-img"> Quạt Điện
            </td>
            <td>Thiết Bị Gia Dụng</td>
            <td>05/8/2023</td>
            <td>500,000 VNĐ</td>
            <td>70</td>
            <td><span class="status active">Hoạt Động</span></td>
            <td class="action-icons">
                <span class="icon view-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"><path
                        d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></span>
                <span class="icon edit-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"><path
                        d="M12 20h9"></path><path
                        d="M16.5 3.5a2.121 2.121 0 013 3L7 19l-4 1 1-4 12.5-12.5z"></path></svg></span>
                <span class="icon delete-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline
                        points="3 6 5 6 21 6"></polyline><path
                        d="M19 6l-1 14a2 2 0 01-2 2H8a2 2 0 01-2-2L5 6m5 0V4a2 2 0 012-2h4a2 2 0 012 2v2"></path></svg></span>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="pagination">
        <button class="prev-btn">Trước</button>
        <button class="page-number active">1</button>
        <button class="page-number">2</button>
        <button class="next-btn">Tiếp Theo</button>
    </div>
</div>

</body>
</html>
